@import '../variables';

.block-icons {
    font-family: $font-main;

    &__container {
        max-width: 1428px;
        margin: 0 auto;
    }



    &__title {
        text-align: center;
        margin-bottom: 32px;

        @media (min-width:768px) {
            margin-bottom: 56px;
        }

        @media (min-width:1200px) {
            margin-bottom: 64px;
        }


    }

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        gap: 24px;

        @media (min-width:1200px) {
            flex-direction: row;
            justify-content: space-between;

        }
    }

    &__item {
        position: relative;
        width: 100%;
        max-width: 231px;
        flex-grow: 1;
        font-size: 14px;

        &:has(.block-icons__icon) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            .block-icons__text{
                @media (min-width:768px) {
                    min-height: 115px;
                }
         
            }
        }

        &:has(.block-icons__num) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 210px;
            font-size: 18px;

            .blocl-icons__text {
                width: auto;
                margin: 0;
            }

            @media (min-width:768px) {
                min-height: 337px;

                font-size: 24px;

            }

            @media (min-width:1200px) {
                min-height: 449px;
                width: 31%;
                max-width: unset;


            }

            @media (min-width:1600px) {
                font-size: 32px;
            }


        }

        @media (min-width:768px) {
            font-size: 20px;
            max-width: 320px;

        }

        @media (min-width:1200px) {
            width: fit-content;
            max-width: 352px;
            font-size: 20px;

        }

        @media (min-width:1600px) {
            width: fit-content;
            max-width: 352px;
            font-size: 24px;

        }

    }

    &__num-inner {
        position: relative;
        width: fit-content;
        margin: 0 auto;
    }

    &__item-fon {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        padding: 2em 0em 2em 1em;
        width: 80%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (min-width:768px) {
            width: 70%;
            height: 70%;

        }



        &-bl,
        &-ye {
            width: 100%;
            height: 0px;

        }

        &-bl {

            box-shadow: 0px 0px 4.5em 1.6em #1c59a6;
            transform: rotate(-30deg) translateX(-3px) translateY(-44px);
            z-index: -9;

            @media (min-width:768px) {
                transform: rotate(-30deg) translateX(-30px) translateY(-44px);

            }

        }

        &-ye {
            box-shadow: 0px 0px 4.5em 1.6em #fff03c;
            z-index: -10;
            transform: rotate(-30deg) translateX(-3px) translateY(40px);

            @media (min-width:768px) {
                transform: rotate(-30deg) translateX(-30px) translateY(40px);

            }
        }

    }

    &__icon {

        margin-bottom: 24px;

        @media (min-width:1200px) {
            margin-bottom: 54px;
        }

        &>svg {
            width: 85px;
            height: 92px;

            @media (min-width:1200px) {
                width: 123px;
               
            }
            @media (min-width:1500px) {
                width: 123px;
                height: 112px;
            }
        }


    }

    &__num {
        margin-bottom: 16px;
        padding-left: 0.5rem;
        color: $black;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 32px;
        text-align: center;
        padding-inline-end: 20px;

        @media (min-width:767px) {
            margin-bottom: 24px;
            font-size: 48px;
        }

        @media (min-width:1600px) {

            font-size: 4rem;
        }
    }

    &__text {
        padding-left: 1rem;
        line-height: 120%;
        font-style: italic;
        text-align: center;


    }

    &:has(.block-icons__icon) {
        text-align: center;

    }

}