/* 
You can use this class for button
 btn-main-s           - main button
 btn-main-m           - main button
 btn-main-l           - main button
 btn-advanced-s       - advanced button
 btn-advanced-m       - advanced button
 btn-advanced-l       - advanced button
 btn-icon-main        - button for icons
 btn-icon-advanced    - button for black icons
 btn-socseti-yellow   - button yellow for socseti
 btn-socseti-white    - button white for socseti
 btn-clear - utils, delete all styles from button
 */

@import "../variables.scss";

/* reset style */
@mixin btn-reset {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;

  &:hover,
  &:focus {
    outline: none;
    border: none;
  }
}

#btn-reset1 {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;

  &:hover,
  &:focus {
    outline: none;
    border: none;
  }
}

#svg-animation {
  transition: all $animations;

  & .icon {
    transition: all $animations;
  }
}

#btn-svg {
  @include btn-reset;
  @extend #svg-animation;
  display: flex;
  justify-content: center;
  align-items: center;

  & .icon {
    fill: inherit;
  }
}

#svg-main {
  fill: $dark-blue;

  & .icon {
    fill: inherit;
    height: 100%;
  }

  &:hover,
  &:focus {
    fill: $blue;
  }
  /*
  &:active {
    fill: orange;
  }
  */
}

#svg-advanced {
  fill: $yellow;

  & .icon {
    fill: inherit;
    stroke: white;
  }

  &:hover,
  &:focus {
    fill: red;
  }

  &:active {
    fill: orange;
  }
}

#btn-white {
  background-color: white;

  &:hover,
  &:focus {
    background-color: $btn-inv-hover;
  }

  &:active {
    background-color: $btn-inv-pressed;
  }
}

#btn-socseti {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

@mixin btn-main {
  font-family: $font-advanced;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  height: 61px;
  padding: 16px;
  border-radius: 15px;
  color: $white;
  font-size: 14px;
  font-weight: 500;
  background-color: $btn-main;
  border: none;
  cursor: pointer;
  transition: all $animations;

  & img {
    margin-left: 8px;
  }

  &:hover:not(:disabled),
  &:focus-visible:not(:disabled) {
    box-shadow: $btn-hover-shadow;
  }

  &:active:not(:disabled) {
    background-color: $blue;
  }

  &:disabled {
    background: none;
    background-color: $btn-disabled;
    cursor: initial;
  }
}

@mixin btn-advanced {
  @include btn-main;
  color: $black;
  background: $gradient;

  &:hover:not(:disabled),
  &:focus-visible:not(:disabled) {
    box-shadow: $btn-hover-shadow;
  }

  &:active:not(:disabled) {
    background: $btn-advanced-active-background;
    box-shadow: $btn-hover-shadow;
  }
}

@mixin btn-main-s {
  @include btn-main;
  height: 45px;
  padding: 14px 12px;
}

@mixin btn-main-m {
  @include btn-main;
  font-size: 20px;
  height: 56px;
  padding: 16px;
}

@mixin btn-main-l {
  @include btn-main;
  font-size: 24px;
  height: 77px;
  padding: 24px 20px;
}

@mixin btn-advanced-s {
  @include btn-advanced;
  height: 45px;
  padding: 14px 12px;
}

@mixin btn-advanced-m {
  @include btn-advanced;
  font-size: 20px;
  height: 56px;
  padding: 16px;
}

@mixin btn-advanced-l {
  @include btn-advanced;
  font-size: 24px;
  height: 77px;
  padding: 24px 20px;
}

.btn-clear {
  @include btn-reset;
}

.btn-icon-main {
  /*@include btn-reset;*/
  @extend #btn-reset1;
  @extend #svg-main;
  @extend #svg-animation;
}

.btn-icon-advanced {
  @extend #svg-advanced;
  @extend #svg-animation;
}

.btn-socseti {
  @extend #btn-svg;
  @extend #btn-socseti;
  @include btn-main;
  fill: white;
}

.btn-socseti-white {
  @extend #btn-svg;
  @extend #btn-socseti;
  @extend #btn-white;
  fill: $yellow;

  &:active,
  &:hover,
  &:focus {
    fill: white;
  }
}

.btn-disabled-yellow {
  background-color: red;
  cursor: initial;
}

.menu__btn.donate-btn {
  border: 1px solid rgb(0 255 26 / 64%);
  /*box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px, rgba(0, 0, 0, 0.08) 0 -2px 1px 0 inset, rgba(255, 255, 255, 0.5) 0 2px 1px 0 inset, 0 2px 5px -1px rgba(0, 0, 0, 0.05), 0 1px 3px -1px rgba(0, 0, 0, 0.3);*/
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px,
    rgba(0, 0, 0, 0.2) 0 -2px 1px 0 inset,
    rgba(255, 255, 255, 0.5) 0 2px 1px 0 inset,
    0 2px 5px -1px rgba(0, 0, 0, 0.05), 0 1px 3px -1px rgba(0, 0, 0, 0.3);
  transition: all $animations;
}

.menu__btn.donate-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px,
    rgba(0, 0, 0, 0.2) 0 -1px 1px 0 inset,
    rgba(255, 255, 255, 0.5) 0 1px 1px 0 inset,
    0 2px 5px -1px rgba(0, 0, 0, 0.05), 0 1px 3px -1px rgba(0, 0, 0, 0.3),
    3px 3px 7px 0px rgba(0, 0, 0, 0.2509803922);
}

.menu__btn.donate-btn:not(:hover) {
  animation: jittery 4s infinite;
}

@keyframes jittery {
  
  50% {
    transform: scale(1);
  }
   99% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  15% {
    transform: scale(1.15);
  }
  20% {
    transform: scale(1.15) rotate(-5deg);
  }
  25% {
    transform: scale(1.15) rotate(5deg);
  }
  30% {
    transform: scale(1.15) rotate(-3deg);
  }
  35% {
    transform: scale(1.15) rotate(2deg);
  }
  40% {
    transform: scale(1.15) rotate(0);
  }
}

