@import "../variables.scss";

@mixin logo__border {
  font-size: 8px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  height: 56px;
  width: 56px;
  padding-top: 10px;
  color: $black;
  background: $white;
  border-radius: 50%;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    padding: 2px;
    background: linear-gradient(
      149.83deg,
      rgb(56, 159, 236) 13.392%,
      rgb(55, 157, 234) 26.571%,
      rgb(55, 153, 227) 31.696%,
      rgb(55, 146, 215) 35.357%,
      rgb(55, 135, 198) 38.286%,
      rgb(54, 121, 176) 40.483%,
      rgb(53, 104, 149) 42.679%,
      rgb(52, 83, 116) 44.144%,
      rgb(52, 60, 80) 46.34%,
      rgb(56, 39, 37) 47.805%,
      rgb(96, 80, 35) 50.001%,
      rgb(133, 117, 33) 51.465%,
      rgb(165, 150, 31) 53.662%,
      rgb(191, 177, 30) 56.591%,
      rgb(213, 199, 29) 58.787%,
      rgb(229, 216, 28) 62.448%,
      rgb(241, 228, 27) 66.109%,
      rgb(248, 235, 27) 71.234%,
      rgb(250, 237, 27) 86.61%
    );
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  @media screen and (min-width: 768px) {
    font-size: 12px;
    padding-top: 14px;
    letter-spacing: 0.2em;
    height: 100px;
    width: 100px;
  }

  @media screen and (min-width: 992px) {
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    letter-spacing: 0.32em;
    padding-top: 20px;
    height: 114px;
    width: 114px;
  }
}

@mixin logo__title {
  & .nav__img {
    position: relative;
    width: 46px;
  }

  @media screen and (min-width: 768px) {
    & .nav__img {
      top: -4px;
      width: 83px;
    }
  }

  @media screen and (min-width: 992px) {
    & .nav__img {
      width: 94px;
    }
  }
}

@mixin logo {
  @include logo__border;
  @include logo__title;
}

/*
example:
@import "./components";

.logo {
  @include logo;
}
*/
