/* 
You can use this class for button
 btn-main-s           - main button
 btn-main-m           - main button
 btn-main-l           - main button
 btn-advanced-s       - advanced button
 btn-advanced-m       - advanced button
 btn-advanced-l       - advanced button
 btn-icon-main        - button for icons
 btn-icon-advanced    - button for black icons
 btn-socseti-yellow   - button yellow for socseti
 btn-socseti-white    - button white for socseti
 btn-clear - utils, delete all styles from button
 */
/*$btn-main-active-background: color $blue;*/
/* delete */
/*
$btn-disabled: #f2b80030;
*/
/* reset style */
#btn-reset1, .btn-icon-main {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
#btn-reset1:hover, .btn-icon-main:hover, #btn-reset1:focus, .btn-icon-main:focus {
  outline: none;
  border: none;
}

#svg-animation, .btn-icon-advanced, .btn-icon-main, #btn-svg, .btn-socseti-white, .btn-socseti {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
#svg-animation .icon, .btn-icon-advanced .icon, .btn-icon-main .icon, #btn-svg .icon, .btn-socseti-white .icon, .btn-socseti .icon {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#btn-svg, .btn-socseti-white, .btn-socseti {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#btn-svg:hover, .btn-socseti-white:hover, .btn-socseti:hover, #btn-svg:focus, .btn-socseti-white:focus, .btn-socseti:focus {
  outline: none;
  border: none;
}
#btn-svg .icon, .btn-socseti-white .icon, .btn-socseti .icon {
  fill: inherit;
}

#svg-main, .btn-icon-main {
  fill: #1C59A6;
  /*
  &:active {
    fill: orange;
  }
  */
}
#svg-main .icon, .btn-icon-main .icon {
  fill: inherit;
  height: 100%;
}
#svg-main:hover, .btn-icon-main:hover, #svg-main:focus, .btn-icon-main:focus {
  fill: #85BBE4;
}

#svg-advanced, .btn-icon-advanced {
  fill: hsl(56, 98%, 57%);
}
#svg-advanced .icon, .btn-icon-advanced .icon {
  fill: inherit;
  stroke: white;
}
#svg-advanced:hover, .btn-icon-advanced:hover, #svg-advanced:focus, .btn-icon-advanced:focus {
  fill: red;
}
#svg-advanced:active, .btn-icon-advanced:active {
  fill: orange;
}

#btn-white, .btn-socseti-white {
  background-color: white;
}
#btn-white:hover, .btn-socseti-white:hover, #btn-white:focus, .btn-socseti-white:focus {
  background-color: #F2B800;
}
#btn-white:active, .btn-socseti-white:active {
  background-color: #E4AD00;
}

#btn-socseti, .btn-socseti-white, .btn-socseti {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.btn-clear {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
.btn-clear:hover, .btn-clear:focus {
  outline: none;
  border: none;
}

.btn-icon-main {
  /*@include btn-reset;*/
}

.btn-socseti {
  font-family: "Inter", sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  height: 61px;
  padding: 16px;
  border-radius: 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  background-color: #1C59A6;
  border: none;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: white;
}
.btn-socseti img {
  margin-left: 8px;
}
.btn-socseti:hover:not(:disabled), .btn-socseti:focus-visible:not(:disabled) {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.btn-socseti:active:not(:disabled) {
  background-color: #85BBE4;
}
.btn-socseti:disabled {
  background: none;
  background-color: #cccccc;
  cursor: initial;
}

.btn-socseti-white {
  fill: hsl(56, 98%, 57%);
}
.btn-socseti-white:active, .btn-socseti-white:hover, .btn-socseti-white:focus {
  fill: white;
}

.btn-disabled-yellow {
  background-color: red;
  cursor: initial;
}

.menu__btn.donate-btn {
  border: 1px solid rgba(0, 255, 26, 0.64);
  /*box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px, rgba(0, 0, 0, 0.08) 0 -2px 1px 0 inset, rgba(255, 255, 255, 0.5) 0 2px 1px 0 inset, 0 2px 5px -1px rgba(0, 0, 0, 0.05), 0 1px 3px -1px rgba(0, 0, 0, 0.3);*/
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px, rgba(0, 0, 0, 0.2) 0 -2px 1px 0 inset, rgba(255, 255, 255, 0.5) 0 2px 1px 0 inset, 0 2px 5px -1px rgba(0, 0, 0, 0.05), 0 1px 3px -1px rgba(0, 0, 0, 0.3);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.donate-animate {
  animation-name: jittery;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: 2;
  /*animation: 1s jittery 4s 1; */
}

.menu__btn.donate-btn:hover {
  /*animation: heartbeat 0.2s; */
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px, rgba(0, 0, 0, 0.2) 0 -1px 1px 0 inset, rgba(255, 255, 255, 0.5) 0 1px 1px 0 inset, 0 2px 5px -1px rgba(0, 0, 0, 0.05), 0 1px 3px -1px rgba(0, 0, 0, 0.3), 3px 3px 7px 0px rgba(0, 0, 0, 0.2509803922);
}

@keyframes jittery {
  50% {
    transform: scale(1);
  }
  99% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  15% {
    transform: scale(1.15);
  }
  20% {
    box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px, rgba(0, 0, 0, 0.2) 0 -2px 1px 0 inset, rgba(255, 255, 255, 0.5) 0 2px 1px 0 inset, 0 2px 5px -1px rgba(0, 0, 0, 0.05), 3px 3px 9px 6px rgba(0, 0, 0, 0.2509803922);
    transform: scale(1.15) rotate(-5deg);
  }
  25% {
    transform: scale(1.15) rotate(5deg);
  }
  30% {
    transform: scale(1.15) rotate(-3deg);
  }
  35% {
    transform: scale(1.15) rotate(2deg);
  }
  40% {
    transform: scale(1.15) rotate(0);
  }
}
@keyframes heartbeat {
  50% {
    transform: scale(1);
  }
}
/* 
@import "../global";
@import "../variables"; 



*/
.error {
  font-family: "Inter", sans-serif;
  padding-top: 24px;
  padding-bottom: 40px;
  text-align: center;
}
@media (min-width: 768px) {
  .error {
    padding-top: 8px;
    padding-bottom: 98px;
  }
}
@media (min-width: 1280px) {
  .error {
    padding-bottom: 20px;
  }
}
@media (min-width: 1600px) {
  .error {
    padding-top: 68px;
    padding-bottom: 53px;
  }
}
.error .container {
  max-width: 630px;
}
@media (min-width: 1200px) {
  .error .container {
    max-width: 740px;
  }
}
.error__title {
  margin-bottom: 10px;
  font-size: 80px;
  font-weight: 700;
  line-height: 120%;
  color: #85BBE4;
}
@media (min-width: 767px) {
  .error__title {
    font-size: 98px;
  }
}
@media (min-width: 1200px) {
  .error__title {
    font-size: 125px;
  }
}
.error p {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
  color: #221F25;
}
@media (min-width: 767px) {
  .error p {
    font-size: 24px;
  }
}
.error__title + p {
  margin-bottom: 12px;
}
.error__mail {
  color: #221F25;
  font-weight: 700;
}
.error .button-secondary {
  font-family: "Inter", sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  height: 61px;
  padding: 16px;
  border-radius: 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  background-color: #1C59A6;
  border: none;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 24px;
  height: 77px;
  padding: 24px 20px;
  height: unset;
  margin-top: 24px;
  font-size: 14px;
  padding: 14px 12px;
}
.error .button-secondary img {
  margin-left: 8px;
}
.error .button-secondary:hover:not(:disabled), .error .button-secondary:focus-visible:not(:disabled) {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.error .button-secondary:active:not(:disabled) {
  background-color: #85BBE4;
}
.error .button-secondary:disabled {
  background: none;
  background-color: #cccccc;
  cursor: initial;
}
@media (min-width: 767px) {
  .error .button-secondary {
    margin-top: 40px;
    font-size: 20px;
    padding: 16px;
  }
}
@media (min-width: 1280px) {
  .error .button-secondary {
    font-size: 24px;
    padding: 24px 20px;
  }
}/*# sourceMappingURL=404.css.map */