@import "../components.scss";

/* 
@import "../global";
@import "../variables"; 



*/
.error {
    font-family: $font-advanced;
    padding-top: 145px;
    padding-bottom: 40px;
    text-align: center;

        @media (min-width:768px) {
            padding-top: 255px;
            padding-bottom: 98px;
        }
        @media (min-width:1280px) {
            padding-top: 185px;
            padding-bottom: 20px;
        }
        @media (min-width:1600px) {
            padding-bottom: 53px;
        }
    

    & .container {
        max-width: 630px;
        @media (min-width:1200px) {
            max-width: 740px;
        }
    }




    &__title {
        margin-bottom: 10px;
        font-size: 80px;
        font-weight: 700;
        line-height: 120%;
        color: #85BBE4;

        @media (min-width:767px) {
            font-size: 98px;
        }

        @media (min-width:1200px) {
            font-size: 125px;
        }

    }

  

    & p {
        margin-bottom: 8px;
        font-size: 16px;
        font-weight: 400;
        color: #85BBE4;

        @media (min-width:767px) {
            font-size: 24px;
        }

    }
    &__title+p {
        margin-bottom: 12px;
    }
    &__mail {
        color: #221F25;
            font-weight: 500;

    }

    & .button-secondary {
        @include btn-main-l;
        height: unset;
        margin-top: 24px;
        font-size: 14px;
        padding: 14px 12px;
        @media (min-width:767px) {
            margin-top: 40px;
            font-size: 20px;
            padding: 16px;
        }
        @media (min-width:1280px) {
            font-size: 24px;
            padding: 24px 20px;
        }
        

    }


}