@import "../components/buttons";

.about__title {
  padding: 24px 0 32px 0;
  font-size: 18px;
  text-align: center;
}

.about__content:nth-child(3) .about__title {
  padding: 64px 0 16px 0;
}

.about__content:nth-child(3) .about__img {
  padding-top: 64px;
}

.about__title-who-are-we {
  display: none;
}

.about__content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__text {
  padding: 16px 0 24px 0;
  line-height: 1.36;
  font-size: 14px;
}

.about__button {
  @include btn-main-s;
}

.about__slider-wrapper {
  position: relative;
}

.about__title-slider {
  padding: 0 0 32px 0;
}

.about__slider-container {
  margin-bottom: 20px;
}

.slider__item-container {
  padding: 8px;
  border: solid 1px #64C642;
  border-radius: 15px;
}

.slider__item-photo img {
  width: 88px;
  height: 88px;
  margin-bottom: 16px;
  border-radius: 50%;
}

.slider__item-subtitle {
  font-size: 16px;
  width: 195px;
}

.slider__item-title {
  padding: 16px 0 32px 0;
  font-size: 18px;
  font-weight: 700;
}

.slider__date {
  padding-bottom: 16px;
  font-size: 12px;
}

.slider__item-text {
  font-style: italic;
  font-size: 14px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  min-height: 185px;
  -webkit-line-clamp: 11;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slider__item-link {
  margin: 32px 0 0 0;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #1C59A6;
}

.slider__item-link a {
  border-bottom: solid 1px #1C59A6;
}

.about__slider-button--left {
  display: none;
}

.about__slider-button--right {
  display: none;
}

.about__slider-pagination {
  margin-left: auto;
  margin-right: auto;
  transform: translateX(0) !important;
}

.about__button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__slider-button {
  margin-top: 40px;
}

.about__title-partners {
  padding: 0 0 32px 0;
}

.about__partners-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 24px;
  justify-content: space-between;
}

.partners-item:nth-child(1) {
  flex-basis: calc(100%);
}

.partners-item:nth-child(n + 2) {
  flex-basis: calc(50% - 16px);
}

.partners-list-img {
  width: 136px;
  margin: 0 auto;
}

.partners-list-img img {
  width: 136px !important;
  height: 136px !important;
  object-fit: contain;
}

.partners-list-img p {
  text-align: center;
  padding: 16px 0;
  font-size: 16px;
  font-weight: 600;
}

.about__partners-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

@media (min-width: 768px) {
  .about__title {
    font-size: 32px;
    font-weight: 600;
    padding: 45px 0 56px 0;
  }

  .about__content:nth-child(3) .about__title {
    padding: 112px 0 24px 0;
  }

  .about__img img {
    width: 512px;
    height: 412px;
  }

  .about__text {
    padding: 24px 0 40px 0;
    font-size: 20px;
  }

  .about__button {
    @include btn-main-m;
  }

  .about__title-slider {
    padding: 0 0 56px 0;
  }

  .slider__item-container {
    width: 100%;
    display: flex !important;
    gap: 20px;
  }

  .slider__item--left {
    max-width: 25%;
  }

  .slider__item--right {
    max-width: 75%;
  }

  .slider__item-photo img {
    width: 108px;
    height: 108px;
    max-width: unset;
    object-fit: cover;
    margin-bottom: 33px;
  }

  .slider__item-subtitle {
    font-size: 18px;
    width: 100%;
  }

  .slider__date {
    font-size: 16px;
  }

  .slider__item-title {
    padding: 0 0 64px 0;
    font-size: 20px;
    font-weight: 700;
  }

  .slider__item-text {
    width: 100%;
    font-size: 20px;
    min-height: 190px;
    -webkit-line-clamp: 8;
  }

  .slider__item-link a {
    font-size: 20px;
    font-weight: 500;
  }

  .about__title-partners {
    padding: 0 0 56px 0;
  }

  .about__partners-list {
    max-width: 800px;
    column-gap: 64px;
    row-gap: 56px;
    margin-left: auto;
    margin-right: auto;
  }

  .partners-item:nth-child(-n + 3) {
    flex-basis: calc(33% - 64px - 2 * 90px);
  }

  .partners-item:nth-child(-n + 3):first-child {
    margin-left: 90px;
  }

  .partners-item:nth-child(-n + 3):nth-child(3) {
    margin-right: 90px;
  }

  .partners-item:nth-child(n + 4) {
    flex-basis: calc(25% - 64px);
  }

  .partners-list-img {
  
  width: 124px;
  margin: 0 auto;
  }

  .partners-list-img img {
    width: 124px !important;
    height: 124px !important;
    object-fit: contain;
  }

  .partners-list-img p {
    padding: 24px 0;
    font-size: 24px;
    font-weight: 400;
  }
}

@media (min-width: 1200px) {
  .about__content {
    text-align: center;
    flex-direction: row;
    gap: 20px;
  }

  .content-who-are-we {
    margin: 32px 0 0 0;
  }

  .about__title-main {
    font-size: 36px;
  }

  .about__title-who-are-we-block,
  .about__title-slider,
  .about__title-partners {
    font-size: 32px;
  }

  .about__title {
    padding: 64px 0 104px 0;
    font-weight: 700;
  }

  .about__content:nth-child(3) .about__title {
    padding: 0 0 56px 0;
  }

  .about__content:nth-child(3) {
    margin-top: 32px;
  }

  .about__content:nth-child(3) .about__img {
    padding-top: 0;
  }

  .about__img img {
    width: 573px;
    height: 509px;
    max-width: unset;
    object-fit: cover;
  }

  .about__title-who-are-we {
    display: none;
  }

  .about__title-who-are-we-block {
    display: block;
    padding: 0 0 32px 0;
    font-weight: 700;
  }

  .about__text {
    padding: 0;
    font-size: 20px;
    margin-bottom: 40px;
  }

  .about__button {
    @include btn-main-l;
  }

  .about__slider {
    max-width: 1152px;
    margin: 0 auto;
  }

  .about__slider-wrapper {
    padding: 0 40px;
    position: relative;
  }

  .about__slider-container {
    margin-bottom: 0;
  }

  .slider__item-container {
    max-width: 537px;
    padding-bottom: 24px;
    margin-bottom: 0;
  }

  .slider__item--left {
    max-width: 37%;
  }

  .slider__item--right {
    max-width: 65%;
  }

  .slider__item-photo img {
    margin-bottom: 35px;
  }

  .slider__item-title {
    padding: 0 0 32px 0;
  }

  .slider__date {
    font-size: 18px;
  }

  .slider__item-text {
    font-size: 16px;
    padding: 0 0 24px 0;
    min-height: 195px;
    -webkit-line-clamp: 9;
  }

  .slider__item-link a {
    font-size: 24px;
    font-weight: 500;
  }

  .about__slider-button--left {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -10px;
    z-index: 10;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .about__slider-button--right {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: clamp(3px, calc(3px + (7 - 3) * ((100vw - 1200px) / (1920 - 1200))), 7px);
    z-index: 10;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .about__arrow {
    width: 32px;
    height: 32px;

    &:hover {
      fill: #abb8c3;
    }
  }

  .about__button-wrapper {
    padding-top: 24px;
  }

  .slider__button {
    background-color: transparent;
  }

  .about__partners-list {
    column-gap: 0;
    row-gap: 64px;
    max-width: 1356px;
    width: 100%;
    margin: 0 auto;
  }

  .partners-item:nth-child(-n + 3) {
    flex-grow: 0;
    flex-basis: calc((100% - 2 * 64px - 2 * 154px) / 3);
  }

  .partners-item:nth-child(-n + 3):first-child {
    margin-left: 154px;
  }

  .partners-item:nth-child(-n + 3):nth-child(3) {
    margin-right: 154px;
  }

  .partners-list-img {
    max-width: unset;
    object-fit: cover;
    width: 244px;
  }

  .partners-list-img img {
    width: 244px !important;
    height: 244px !important;
    object-fit: contain;
  }

  .partners-list-img p {
    display: none;
  } 
}

@media (min-width: 1440px) {
  .about__title {
    padding: 64px 0 112px 0;
  }

  .about__title-who-are-we-block {
    padding: 0 0 40px 0;
  }

  .about__content:nth-child(3) .about__img {
    margin-left: 139px;
  }

  .about__img img {
    width: 666px;
    height: 592px;
  }

  .about__text {
    font-size: 24px;
    margin-bottom: 48px;
  }

  .content-about-us {
    justify-content: unset;
    gap: 25px;
  }

  .content-who-are-we {
    justify-content: unset;
    gap: 25px;
  }

  .about__slider {
    max-width: 1620px;
  }

  .slider__item-container {
    min-width: 637px;
    max-width: 1000px;
    padding-bottom: 24px;
  }

  .slider__item--left {
    max-width: 30%;
  }

  .slider__item--right {
    max-width: 70%;
  }

  .slider__item-title {
    padding: 0 0 40px 0;
    font-size: 24px;
  }

  .slider__item-text {
    font-size: 24px;
    padding: 0;
    min-height: 255px;
    -webkit-line-clamp: 9;
  }

  .about__partners-list {
    row-gap: 56px;
  }

  .partners-item:nth-child(-n + 3) {
    flex-grow: 0;
    flex-basis: calc((100% - 2 * 116px - 2 * 184px) / 3);
  }

  .partners-item:nth-child(-n + 3):first-child {
    margin-left: 184px;
  }

  .partners-item:nth-child(-n + 3):nth-child(3) {
    margin-right: 184px;
  }
}

