@import "../parts-styles/_projects-page-pagination";
@import "../parts-styles/_breadcrumbs";

.about__media-list {
  @media screen and (min-width: 1920px) {
  }
}

.about__media-title {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  margin: 24px 0 32px 0;

  @media screen and (min-width: 768px) {
    font-size: 36px;
    margin: 64px 0 56px 0;
  }

  @media screen and (min-width: 1280px) {
    margin: 64px 0 104px 0;
  }

  @media screen and (min-width: 1920px) {
    margin: 64px 0 112px 0;
  }
}

.about__media-item {
  margin-bottom: 24px;

  &:not(:last-child) {
    border-bottom: 2px solid #64c642;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 48px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 64px;
  }

  @media screen and (min-width: 1920px) {
    margin-bottom: 80px;
  }
}

.about__media-wrap {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 20px;
  }

  @media screen and (min-width: 1280px) {
    gap: 56px;
  }

  @media screen and (min-width: 1920px) {
    padding: 0 126px;
  }
}

.about__media-img {
  width: 88px;
  height: auto;
  margin-bottom: 16px;

  img {
    border-radius: 50%;
  }

  @media screen and (min-width: 768px) {
    width: 108px;
  }

  @media screen and (min-width: 1280px) {
    width: 196px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1920px) {
  }
}

.about__media-avtor {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    width: 141px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 18px;
    text-transform: uppercase;
    width: 252px;
  }

  @media screen and (min-width: 1920px) {
  }
}

.about__media-name-article {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 32px;
    margin-bottom: 16px;
  }

  @media screen and (min-width: 1920px) {
  }
}

.about__media-date {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 18px;
    margin-bottom: 32px;
  }

  @media screen and (min-width: 1920px) {
  }
}

.about__media-text {
  font-size: 14px;
  line-height: 1.36;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 24px;
    margin-bottom: 32px;
  }

  @media screen and (min-width: 1920px) {
  }
}

.about__media-link {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 38px;
  color: #1c59a6;

  a {
    border-bottom: 1px solid #1c59a6;
  }

  @media screen and (min-width: 768px) {
    font-size: 20px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 24px;
  }

  @media screen and (min-width: 1920px) {
  }
}
