@import "../parts-styles/_breadcrumbs.scss";
@import "../parts-styles/_donates_money1.scss";
@import "../parts-styles/_donates_money2.scss";
@import "../parts-styles/_donates_money3.scss";
@import "../parts-styles/_donates_money4.scss";


.section__donate1 {
  padding-top: 84px;
  padding-bottom: 32px;
}
.donate-gl-title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .section__donate1 {
    padding-top: 104px;
  }

  .donate-gl-title {
    font-size: 32px;
    margin-bottom: 56px;
  }
}

@media screen and (min-width: 1200px) {
  .section__donate1 {
    padding-top: 128px;
    padding-bottom: 128px;
  }
  .donate-gl-title {
    font-size: 36px;
    margin-bottom: 104px;
  }
}

@media screen and (min-width: 1440px) {
  .section__donate1 {
    padding-bottom: 144px;
  }

}
