@charset "UTF-8";
/* 
You can use this class for button
 btn-main-s           - main button
 btn-main-m           - main button
 btn-main-l           - main button
 btn-advanced-s       - advanced button
 btn-advanced-m       - advanced button
 btn-advanced-l       - advanced button
 btn-icon-main        - button for icons
 btn-icon-advanced    - button for black icons
 btn-socseti-yellow   - button yellow for socseti
 btn-socseti-white    - button white for socseti
 btn-clear - utils, delete all styles from button
 */
/*$btn-main-active-background: color $blue;*/
/* delete */
/*
$btn-disabled: #f2b80030;
*/
/* reset style */
#btn-reset1, .btn-icon-main {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
#btn-reset1:hover, .btn-icon-main:hover, #btn-reset1:focus, .btn-icon-main:focus {
  outline: none;
  border: none;
}

#svg-animation, .btn-icon-advanced, .btn-icon-main, #btn-svg, .btn-socseti-white, .btn-socseti {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
#svg-animation .icon, .btn-icon-advanced .icon, .btn-icon-main .icon, #btn-svg .icon, .btn-socseti-white .icon, .btn-socseti .icon {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#btn-svg, .btn-socseti-white, .btn-socseti {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#btn-svg:hover, .btn-socseti-white:hover, .btn-socseti:hover, #btn-svg:focus, .btn-socseti-white:focus, .btn-socseti:focus {
  outline: none;
  border: none;
}
#btn-svg .icon, .btn-socseti-white .icon, .btn-socseti .icon {
  fill: inherit;
}

#svg-main, .btn-icon-main {
  fill: #1C59A6;
  /*
  &:active {
    fill: orange;
  }
  */
}
#svg-main .icon, .btn-icon-main .icon {
  fill: inherit;
  height: 100%;
}
#svg-main:hover, .btn-icon-main:hover, #svg-main:focus, .btn-icon-main:focus {
  fill: #85BBE4;
}

#svg-advanced, .btn-icon-advanced {
  fill: hsl(56, 98%, 57%);
}
#svg-advanced .icon, .btn-icon-advanced .icon {
  fill: inherit;
  stroke: white;
}
#svg-advanced:hover, .btn-icon-advanced:hover, #svg-advanced:focus, .btn-icon-advanced:focus {
  fill: red;
}
#svg-advanced:active, .btn-icon-advanced:active {
  fill: orange;
}

#btn-white, .btn-socseti-white {
  background-color: white;
}
#btn-white:hover, .btn-socseti-white:hover, #btn-white:focus, .btn-socseti-white:focus {
  background-color: #F2B800;
}
#btn-white:active, .btn-socseti-white:active {
  background-color: #E4AD00;
}

#btn-socseti, .btn-socseti-white, .btn-socseti {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.btn-clear {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
.btn-clear:hover, .btn-clear:focus {
  outline: none;
  border: none;
}

.btn-icon-main {
  /*@include btn-reset;*/
}

.btn-socseti {
  font-family: "Inter", sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  height: 61px;
  padding: 16px;
  border-radius: 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  background-color: #1C59A6;
  border: none;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: white;
}
.btn-socseti img {
  margin-left: 8px;
}
.btn-socseti:hover:not(:disabled), .btn-socseti:focus-visible:not(:disabled) {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.btn-socseti:active:not(:disabled) {
  background-color: #85BBE4;
}
.btn-socseti:disabled {
  background: none;
  background-color: #cccccc;
  cursor: initial;
}

.btn-socseti-white {
  fill: hsl(56, 98%, 57%);
}
.btn-socseti-white:active, .btn-socseti-white:hover, .btn-socseti-white:focus {
  fill: white;
}

.btn-disabled-yellow {
  background-color: red;
  cursor: initial;
}

.menu__btn.donate-btn {
  border: 1px solid rgba(0, 255, 26, 0.64);
  /*box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px, rgba(0, 0, 0, 0.08) 0 -2px 1px 0 inset, rgba(255, 255, 255, 0.5) 0 2px 1px 0 inset, 0 2px 5px -1px rgba(0, 0, 0, 0.05), 0 1px 3px -1px rgba(0, 0, 0, 0.3);*/
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px, rgba(0, 0, 0, 0.2) 0 -2px 1px 0 inset, rgba(255, 255, 255, 0.5) 0 2px 1px 0 inset, 0 2px 5px -1px rgba(0, 0, 0, 0.05), 0 1px 3px -1px rgba(0, 0, 0, 0.3);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.donate-animate {
  animation-name: jittery;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: 2;
  /*animation: 1s jittery 4s 1; */
}

.menu__btn.donate-btn:hover {
  /*animation: heartbeat 0.2s; */
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px, rgba(0, 0, 0, 0.2) 0 -1px 1px 0 inset, rgba(255, 255, 255, 0.5) 0 1px 1px 0 inset, 0 2px 5px -1px rgba(0, 0, 0, 0.05), 0 1px 3px -1px rgba(0, 0, 0, 0.3), 3px 3px 7px 0px rgba(0, 0, 0, 0.2509803922);
}

@keyframes jittery {
  50% {
    transform: scale(1);
  }
  99% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  15% {
    transform: scale(1.15);
  }
  20% {
    box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px, rgba(0, 0, 0, 0.2) 0 -2px 1px 0 inset, rgba(255, 255, 255, 0.5) 0 2px 1px 0 inset, 0 2px 5px -1px rgba(0, 0, 0, 0.05), 3px 3px 9px 6px rgba(0, 0, 0, 0.2509803922);
    transform: scale(1.15) rotate(-5deg);
  }
  25% {
    transform: scale(1.15) rotate(5deg);
  }
  30% {
    transform: scale(1.15) rotate(-3deg);
  }
  35% {
    transform: scale(1.15) rotate(2deg);
  }
  40% {
    transform: scale(1.15) rotate(0);
  }
}
@keyframes heartbeat {
  50% {
    transform: scale(1);
  }
}
.donate1 {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.donate1 .donate-money {
  max-width: 571px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 4px 4px 43px 0px rgba(0, 0, 0, 0.1098039216);
  border-radius: 15px;
  background-color: #fefefe;
}

.textblock {
  text-align: center;
  line-height: 1.361;
}

.textblock-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 32px;
}

.textblock-text {
  font-size: 14px;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .donate1 {
    gap: 112px;
  }
  .donate1 .donate-money {
    max-width: unset;
  }
  .textblock-title {
    font-size: 24px;
    margin-bottom: 56px;
  }
  .textblock-text {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .donate1 {
    flex-direction: row;
    gap: unset;
    justify-content: center;
    max-width: 1450px;
    margin-left: auto;
    margin-right: auto;
  }
  .donate1 .donate-money {
    margin-left: unset;
    margin-right: unset;
  }
  .textblock {
    width: 475px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .textblock-title {
    font-size: 32px;
    margin-bottom: 40px;
  }
  .textblock-text {
    font-size: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .textblock {
    width: 667px;
  }
}
/* 
You can use this class for button
 btn-main-s           - main button
 btn-main-m           - main button
 btn-main-l           - main button
 btn-advanced-s       - advanced button
 btn-advanced-m       - advanced button
 btn-advanced-l       - advanced button
 btn-icon-main        - button for icons
 btn-icon-advanced    - button for black icons
 btn-socseti-yellow   - button yellow for socseti
 btn-socseti-white    - button white for socseti
 btn-clear - utils, delete all styles from button
 */
/*$btn-main-active-background: color $blue;*/
/* delete */
/*
$btn-disabled: #f2b80030;
*/
/* reset style */
#btn-reset1, .btn-icon-main {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
#btn-reset1:hover, .btn-icon-main:hover, #btn-reset1:focus, .btn-icon-main:focus {
  outline: none;
  border: none;
}

#svg-animation, #btn-svg, .btn-icon-main, .btn-icon-advanced, .btn-socseti, .btn-socseti-white {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
#svg-animation .icon, #btn-svg .icon, .btn-icon-main .icon, .btn-icon-advanced .icon, .btn-socseti .icon, .btn-socseti-white .icon {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#btn-svg, .btn-socseti, .btn-socseti-white {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#btn-svg:hover, .btn-socseti:hover, .btn-socseti-white:hover, #btn-svg:focus, .btn-socseti:focus, .btn-socseti-white:focus {
  outline: none;
  border: none;
}
#btn-svg .icon, .btn-socseti .icon, .btn-socseti-white .icon {
  fill: inherit;
}

#svg-main, .btn-icon-main {
  fill: #1C59A6;
  /*
  &:active {
    fill: orange;
  }
  */
}
#svg-main .icon, .btn-icon-main .icon {
  fill: inherit;
  height: 100%;
}
#svg-main:hover, .btn-icon-main:hover, #svg-main:focus, .btn-icon-main:focus {
  fill: #85BBE4;
}

#svg-advanced, .btn-icon-advanced {
  fill: hsl(56, 98%, 57%);
}
#svg-advanced .icon, .btn-icon-advanced .icon {
  fill: inherit;
  stroke: white;
}
#svg-advanced:hover, .btn-icon-advanced:hover, #svg-advanced:focus, .btn-icon-advanced:focus {
  fill: red;
}
#svg-advanced:active, .btn-icon-advanced:active {
  fill: orange;
}

#btn-white, .btn-socseti-white {
  background-color: white;
}
#btn-white:hover, .btn-socseti-white:hover, #btn-white:focus, .btn-socseti-white:focus {
  background-color: #F2B800;
}
#btn-white:active, .btn-socseti-white:active {
  background-color: #E4AD00;
}

#btn-socseti, .btn-socseti, .btn-socseti-white {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.btn-clear {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
.btn-clear:hover, .btn-clear:focus {
  outline: none;
  border: none;
}

.btn-icon-main {
  /*@include btn-reset;*/
}

.btn-socseti {
  font-family: "Inter", sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  height: 61px;
  padding: 16px;
  border-radius: 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  background-color: #1C59A6;
  border: none;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: white;
}
.btn-socseti img {
  margin-left: 8px;
}
.btn-socseti:hover:not(:disabled), .btn-socseti:focus-visible:not(:disabled) {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.btn-socseti:active:not(:disabled) {
  background-color: #85BBE4;
}
.btn-socseti:disabled {
  background: none;
  background-color: #cccccc;
  cursor: initial;
}

.btn-socseti-white {
  fill: hsl(56, 98%, 57%);
}
.btn-socseti-white:active, .btn-socseti-white:hover, .btn-socseti-white:focus {
  fill: white;
}

.btn-disabled-yellow {
  background-color: red;
  cursor: initial;
}

.menu__btn.donate-btn {
  border: 1px solid rgba(0, 255, 26, 0.64);
  /*box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px, rgba(0, 0, 0, 0.08) 0 -2px 1px 0 inset, rgba(255, 255, 255, 0.5) 0 2px 1px 0 inset, 0 2px 5px -1px rgba(0, 0, 0, 0.05), 0 1px 3px -1px rgba(0, 0, 0, 0.3);*/
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px, rgba(0, 0, 0, 0.2) 0 -2px 1px 0 inset, rgba(255, 255, 255, 0.5) 0 2px 1px 0 inset, 0 2px 5px -1px rgba(0, 0, 0, 0.05), 0 1px 3px -1px rgba(0, 0, 0, 0.3);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.donate-animate {
  animation-name: jittery;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: 2;
  /*animation: 1s jittery 4s 1; */
}

.menu__btn.donate-btn:hover {
  /*animation: heartbeat 0.2s; */
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px, rgba(0, 0, 0, 0.2) 0 -1px 1px 0 inset, rgba(255, 255, 255, 0.5) 0 1px 1px 0 inset, 0 2px 5px -1px rgba(0, 0, 0, 0.05), 0 1px 3px -1px rgba(0, 0, 0, 0.3), 3px 3px 7px 0px rgba(0, 0, 0, 0.2509803922);
}

@keyframes jittery {
  50% {
    transform: scale(1);
  }
  99% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  15% {
    transform: scale(1.15);
  }
  20% {
    box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px, rgba(0, 0, 0, 0.2) 0 -2px 1px 0 inset, rgba(255, 255, 255, 0.5) 0 2px 1px 0 inset, 0 2px 5px -1px rgba(0, 0, 0, 0.05), 3px 3px 9px 6px rgba(0, 0, 0, 0.2509803922);
    transform: scale(1.15) rotate(-5deg);
  }
  25% {
    transform: scale(1.15) rotate(5deg);
  }
  30% {
    transform: scale(1.15) rotate(-3deg);
  }
  35% {
    transform: scale(1.15) rotate(2deg);
  }
  40% {
    transform: scale(1.15) rotate(0);
  }
}
@keyframes heartbeat {
  50% {
    transform: scale(1);
  }
}
/* 
You can use this class for button
 btn-main-s           - main button
 btn-main-m           - main button
 btn-main-l           - main button
 btn-advanced-s       - advanced button
 btn-advanced-m       - advanced button
 btn-advanced-l       - advanced button
 btn-icon-main        - button for icons
 btn-icon-advanced    - button for black icons
 btn-socseti-yellow   - button yellow for socseti
 btn-socseti-white    - button white for socseti
 btn-clear - utils, delete all styles from button
 */
/*$btn-main-active-background: color $blue;*/
/* delete */
/*
$btn-disabled: #f2b80030;
*/
/* reset style */
#btn-reset1, .btn-icon-main {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
#btn-reset1:hover, .btn-icon-main:hover, #btn-reset1:focus, .btn-icon-main:focus {
  outline: none;
  border: none;
}

#svg-animation, #btn-svg, .btn-icon-main, .btn-icon-advanced, .btn-socseti, .btn-socseti-white {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
#svg-animation .icon, #btn-svg .icon, .btn-icon-main .icon, .btn-icon-advanced .icon, .btn-socseti .icon, .btn-socseti-white .icon {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#btn-svg, .btn-socseti, .btn-socseti-white {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#btn-svg:hover, .btn-socseti:hover, .btn-socseti-white:hover, #btn-svg:focus, .btn-socseti:focus, .btn-socseti-white:focus {
  outline: none;
  border: none;
}
#btn-svg .icon, .btn-socseti .icon, .btn-socseti-white .icon {
  fill: inherit;
}

#svg-main, .btn-icon-main {
  fill: #1C59A6;
  /*
  &:active {
    fill: orange;
  }
  */
}
#svg-main .icon, .btn-icon-main .icon {
  fill: inherit;
  height: 100%;
}
#svg-main:hover, .btn-icon-main:hover, #svg-main:focus, .btn-icon-main:focus {
  fill: #85BBE4;
}

#svg-advanced, .btn-icon-advanced {
  fill: hsl(56, 98%, 57%);
}
#svg-advanced .icon, .btn-icon-advanced .icon {
  fill: inherit;
  stroke: white;
}
#svg-advanced:hover, .btn-icon-advanced:hover, #svg-advanced:focus, .btn-icon-advanced:focus {
  fill: red;
}
#svg-advanced:active, .btn-icon-advanced:active {
  fill: orange;
}

#btn-white, .btn-socseti-white {
  background-color: white;
}
#btn-white:hover, .btn-socseti-white:hover, #btn-white:focus, .btn-socseti-white:focus {
  background-color: #F2B800;
}
#btn-white:active, .btn-socseti-white:active {
  background-color: #E4AD00;
}

#btn-socseti, .btn-socseti, .btn-socseti-white {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.btn-clear {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
.btn-clear:hover, .btn-clear:focus {
  outline: none;
  border: none;
}

.btn-icon-main {
  /*@include btn-reset;*/
}

.btn-socseti {
  font-family: "Inter", sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  height: 61px;
  padding: 16px;
  border-radius: 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  background-color: #1C59A6;
  border: none;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: white;
}
.btn-socseti img {
  margin-left: 8px;
}
.btn-socseti:hover:not(:disabled), .btn-socseti:focus-visible:not(:disabled) {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.btn-socseti:active:not(:disabled) {
  background-color: #85BBE4;
}
.btn-socseti:disabled {
  background: none;
  background-color: #cccccc;
  cursor: initial;
}

.btn-socseti-white {
  fill: hsl(56, 98%, 57%);
}
.btn-socseti-white:active, .btn-socseti-white:hover, .btn-socseti-white:focus {
  fill: white;
}

.btn-disabled-yellow {
  background-color: red;
  cursor: initial;
}

.menu__btn.donate-btn {
  border: 1px solid rgba(0, 255, 26, 0.64);
  /*box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px, rgba(0, 0, 0, 0.08) 0 -2px 1px 0 inset, rgba(255, 255, 255, 0.5) 0 2px 1px 0 inset, 0 2px 5px -1px rgba(0, 0, 0, 0.05), 0 1px 3px -1px rgba(0, 0, 0, 0.3);*/
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px, rgba(0, 0, 0, 0.2) 0 -2px 1px 0 inset, rgba(255, 255, 255, 0.5) 0 2px 1px 0 inset, 0 2px 5px -1px rgba(0, 0, 0, 0.05), 0 1px 3px -1px rgba(0, 0, 0, 0.3);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.donate-animate {
  animation-name: jittery;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: 2;
  /*animation: 1s jittery 4s 1; */
}

.menu__btn.donate-btn:hover {
  /*animation: heartbeat 0.2s; */
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px, rgba(0, 0, 0, 0.2) 0 -1px 1px 0 inset, rgba(255, 255, 255, 0.5) 0 1px 1px 0 inset, 0 2px 5px -1px rgba(0, 0, 0, 0.05), 0 1px 3px -1px rgba(0, 0, 0, 0.3), 3px 3px 7px 0px rgba(0, 0, 0, 0.2509803922);
}

@keyframes jittery {
  50% {
    transform: scale(1);
  }
  99% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  15% {
    transform: scale(1.15);
  }
  20% {
    box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px, rgba(0, 0, 0, 0.2) 0 -2px 1px 0 inset, rgba(255, 255, 255, 0.5) 0 2px 1px 0 inset, 0 2px 5px -1px rgba(0, 0, 0, 0.05), 3px 3px 9px 6px rgba(0, 0, 0, 0.2509803922);
    transform: scale(1.15) rotate(-5deg);
  }
  25% {
    transform: scale(1.15) rotate(5deg);
  }
  30% {
    transform: scale(1.15) rotate(-3deg);
  }
  35% {
    transform: scale(1.15) rotate(2deg);
  }
  40% {
    transform: scale(1.15) rotate(0);
  }
}
@keyframes heartbeat {
  50% {
    transform: scale(1);
  }
}
.img-text__title {
  text-align: center;
}
.img-text__title--desc {
  display: none;
}
@media (min-width: 1200px) {
  .img-text__title--desc {
    display: block;
    margin-bottom: 64px;
  }
}
.img-text__title--mob {
  display: block;
  margin-bottom: 33px;
}
@media (min-width: 1200px) {
  .img-text__title--mob {
    display: none;
  }
}
.img-text__wrap {
  display: flex;
  flex-direction: column;
}
.img-text--reverse .img-text__wrap {
  flex-direction: column-reverse;
}
@media (min-width: 1200px) {
  .img-text--reverse .img-text__wrap, .img-text__wrap {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }
}
.img-text__img {
  width: 100%;
  align-self: center;
  margin-bottom: 16px;
}
.img-text__img img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
@media (min-width: 768px) {
  .img-text__img {
    width: 74%;
    margin-bottom: 24px;
  }
}
@media (min-width: 1200px) {
  .img-text__img {
    margin-bottom: 0;
    width: 50%;
  }
}
.img-text__content {
  flex-basis: 50%;
  flex-grow: 1;
  font-size: 14px;
  line-height: 121%;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
}
@media (min-width: 767px) {
  .img-text__content {
    font-size: 20px;
  }
}
@media (min-width: 1600px) {
  .img-text__content {
    font-size: 24px;
  }
}
.img-text__content > p {
  margin-bottom: 15px;
  text-indent: 1.5em;
}
.img-text__button {
  margin-top: 24px;
  text-align: center;
}
@media (min-width: 768px) {
  .img-text__button {
    margin-top: 40px;
  }
}
@media (min-width: 1200px) {
  .img-text__button {
    /*margin-top: 40px;*/
  }
}
.img-text__btn {
  font-family: "Inter", sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  height: 61px;
  padding: 16px;
  border-radius: 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  background-color: #1C59A6;
  border: none;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 45px;
  padding: 14px 12px;
}
.img-text__btn img {
  margin-left: 8px;
}
.img-text__btn:hover:not(:disabled), .img-text__btn:focus-visible:not(:disabled) {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.img-text__btn:active:not(:disabled) {
  background-color: #85BBE4;
}
.img-text__btn:disabled {
  background: none;
  background-color: #cccccc;
  cursor: initial;
}
@media (min-width: 768px) {
  .img-text__btn {
    font-family: "Inter", sans-serif;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    height: 61px;
    padding: 16px;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    background-color: #1C59A6;
    border: none;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 20px;
    height: 56px;
    padding: 16px;
  }
  .img-text__btn img {
    margin-left: 8px;
  }
  .img-text__btn:hover:not(:disabled), .img-text__btn:focus-visible:not(:disabled) {
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  }
  .img-text__btn:active:not(:disabled) {
    background-color: #85BBE4;
  }
  .img-text__btn:disabled {
    background: none;
    background-color: #cccccc;
    cursor: initial;
  }
}
@media (min-width: 1200px) {
  .img-text__btn {
    font-family: "Inter", sans-serif;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    height: 61px;
    padding: 16px;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    background-color: #1C59A6;
    border: none;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 24px;
    height: 77px;
    padding: 24px 20px;
  }
  .img-text__btn img {
    margin-left: 8px;
  }
  .img-text__btn:hover:not(:disabled), .img-text__btn:focus-visible:not(:disabled) {
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  }
  .img-text__btn:active:not(:disabled) {
    background-color: #85BBE4;
  }
  .img-text__btn:disabled {
    background: none;
    background-color: #cccccc;
    cursor: initial;
  }
}
@media (min-width: 1440px) {
  .img-text__btn {
    /*margin-top: 72px; */
  }
}
.img-text__btn-advanced {
  font-family: "Inter", sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  height: 61px;
  padding: 16px;
  border-radius: 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  background-color: #1C59A6;
  border: none;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #221F25;
  background: linear-gradient(180deg, rgba(28, 89, 166, 0.5) -9.37%, rgba(253, 239, 38, 0.5) 110.94%);
  height: 45px;
  padding: 14px 12px;
}
.img-text__btn-advanced img {
  margin-left: 8px;
}
.img-text__btn-advanced:hover:not(:disabled), .img-text__btn-advanced:focus-visible:not(:disabled) {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.img-text__btn-advanced:active:not(:disabled) {
  background-color: #85BBE4;
}
.img-text__btn-advanced:disabled {
  background: none;
  background-color: #cccccc;
  cursor: initial;
}
.img-text__btn-advanced:hover:not(:disabled), .img-text__btn-advanced:focus-visible:not(:disabled) {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.img-text__btn-advanced:active:not(:disabled) {
  background: linear-gradient(180deg, #1C59A6 -9.37%, #FDEF26 110.94%);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
@media (min-width: 768px) {
  .img-text__btn-advanced {
    font-family: "Inter", sans-serif;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    height: 61px;
    padding: 16px;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    background-color: #1C59A6;
    border: none;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #221F25;
    background: linear-gradient(180deg, rgba(28, 89, 166, 0.5) -9.37%, rgba(253, 239, 38, 0.5) 110.94%);
    font-size: 20px;
    height: 56px;
    padding: 16px;
  }
  .img-text__btn-advanced img {
    margin-left: 8px;
  }
  .img-text__btn-advanced:hover:not(:disabled), .img-text__btn-advanced:focus-visible:not(:disabled) {
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  }
  .img-text__btn-advanced:active:not(:disabled) {
    background-color: #85BBE4;
  }
  .img-text__btn-advanced:disabled {
    background: none;
    background-color: #cccccc;
    cursor: initial;
  }
  .img-text__btn-advanced:hover:not(:disabled), .img-text__btn-advanced:focus-visible:not(:disabled) {
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  }
  .img-text__btn-advanced:active:not(:disabled) {
    background: linear-gradient(180deg, #1C59A6 -9.37%, #FDEF26 110.94%);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  }
}
@media (min-width: 1200px) {
  .img-text__btn-advanced {
    font-family: "Inter", sans-serif;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    height: 61px;
    padding: 16px;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    background-color: #1C59A6;
    border: none;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #221F25;
    background: linear-gradient(180deg, rgba(28, 89, 166, 0.5) -9.37%, rgba(253, 239, 38, 0.5) 110.94%);
    font-size: 24px;
    height: 77px;
    padding: 24px 20px;
  }
  .img-text__btn-advanced img {
    margin-left: 8px;
  }
  .img-text__btn-advanced:hover:not(:disabled), .img-text__btn-advanced:focus-visible:not(:disabled) {
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  }
  .img-text__btn-advanced:active:not(:disabled) {
    background-color: #85BBE4;
  }
  .img-text__btn-advanced:disabled {
    background: none;
    background-color: #cccccc;
    cursor: initial;
  }
  .img-text__btn-advanced:hover:not(:disabled), .img-text__btn-advanced:focus-visible:not(:disabled) {
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  }
  .img-text__btn-advanced:active:not(:disabled) {
    background: linear-gradient(180deg, #1C59A6 -9.37%, #FDEF26 110.94%);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  }
}

.post-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 1280px) {
  .post-section {
    gap: 32px;
  }
}
@media screen and (min-width: 1920px) {
  .post-section {
    gap: 40px;
  }
}

.post-type {
  min-width: 288px;
  max-width: 528px;
  padding: 14px;
  box-shadow: 4px 4px 43px 0px rgba(0, 0, 0, 0.11);
  border-radius: 15px;
  margin: 0 auto;
  min-height: 123px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .post-type {
    max-width: 688px;
    padding: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .post-type {
    max-width: 1168px;
    padding: 32px;
    gap: 35px;
  }
}
@media screen and (min-width: 1920px) {
  .post-type {
    padding: 24px;
    max-width: 1632px;
    flex-direction: row;
    gap: 62px;
  }
}
@media screen and (min-width: 768px) {
  .post-type__wrap {
    height: 321px;
  }
}
@media screen and (min-width: 1280px) {
  .post-type__wrap {
    height: 432px;
  }
}
@media screen and (min-width: 1920px) {
  .post-type__wrap {
    width: 742px;
    height: 492px;
  }
}
.post-type__wrap img {
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .post-type__wrap img {
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 1920px) {
  .post-type__block {
    width: 780px;
  }
}
.post-type__start {
  margin-bottom: 12px;
}
.post-type__title {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .post-type__title {
    font-size: 24px;
  }
}
.post-type__text {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .post-type__text {
    margin-bottom: 24px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .post-type__text {
    font-size: 24px;
  }
}
.post-type__value {
  margin-bottom: 8px;
}
.post-type__sum {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .post-type__sum {
    margin-bottom: 40px;
    font-size: 24px;
  }
}
.post-type__button {
  display: inline-block;
}
.post-type .dev__btn {
  cursor: pointer;
  font-size: 14px;
  font-weight: 500px;
  padding: 14px 12px;
  border-radius: 15px;
  border: 0;
  background: #1C59A6;
  color: #FFFFFF;
  transition: all 0.3s;
}
@media screen and (min-width: 768px) {
  .post-type .dev__btn {
    font-size: 20px;
    padding: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .post-type .dev__btn {
    font-size: 24px;
    padding: 24px 20px;
  }
}
.post-type .dev__btn:hover {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}

/* 
You can use this class for button
 btn-main-s           - main button
 btn-main-m           - main button
 btn-main-l           - main button
 btn-advanced-s       - advanced button
 btn-advanced-m       - advanced button
 btn-advanced-l       - advanced button
 btn-icon-main        - button for icons
 btn-icon-advanced    - button for black icons
 btn-socseti-yellow   - button yellow for socseti
 btn-socseti-white    - button white for socseti
 btn-clear - utils, delete all styles from button
 */
/*$btn-main-active-background: color $blue;*/
/* delete */
/*
$btn-disabled: #f2b80030;
*/
/* reset style */
#btn-reset1, .btn-icon-main {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
#btn-reset1:hover, .btn-icon-main:hover, #btn-reset1:focus, .btn-icon-main:focus {
  outline: none;
  border: none;
}

#svg-animation, #btn-svg, .btn-icon-main, .btn-icon-advanced, .btn-socseti, .btn-socseti-white {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
#svg-animation .icon, #btn-svg .icon, .btn-icon-main .icon, .btn-icon-advanced .icon, .btn-socseti .icon, .btn-socseti-white .icon {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#btn-svg, .btn-socseti, .btn-socseti-white {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#btn-svg:hover, .btn-socseti:hover, .btn-socseti-white:hover, #btn-svg:focus, .btn-socseti:focus, .btn-socseti-white:focus {
  outline: none;
  border: none;
}
#btn-svg .icon, .btn-socseti .icon, .btn-socseti-white .icon {
  fill: inherit;
}

#svg-main, .btn-icon-main {
  fill: #1C59A6;
  /*
  &:active {
    fill: orange;
  }
  */
}
#svg-main .icon, .btn-icon-main .icon {
  fill: inherit;
  height: 100%;
}
#svg-main:hover, .btn-icon-main:hover, #svg-main:focus, .btn-icon-main:focus {
  fill: #85BBE4;
}

#svg-advanced, .btn-icon-advanced {
  fill: hsl(56, 98%, 57%);
}
#svg-advanced .icon, .btn-icon-advanced .icon {
  fill: inherit;
  stroke: white;
}
#svg-advanced:hover, .btn-icon-advanced:hover, #svg-advanced:focus, .btn-icon-advanced:focus {
  fill: red;
}
#svg-advanced:active, .btn-icon-advanced:active {
  fill: orange;
}

#btn-white, .btn-socseti-white {
  background-color: white;
}
#btn-white:hover, .btn-socseti-white:hover, #btn-white:focus, .btn-socseti-white:focus {
  background-color: #F2B800;
}
#btn-white:active, .btn-socseti-white:active {
  background-color: #E4AD00;
}

#btn-socseti, .btn-socseti, .btn-socseti-white {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.btn-clear {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
.btn-clear:hover, .btn-clear:focus {
  outline: none;
  border: none;
}

.btn-icon-main {
  /*@include btn-reset;*/
}

.btn-socseti {
  font-family: "Inter", sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  height: 61px;
  padding: 16px;
  border-radius: 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  background-color: #1C59A6;
  border: none;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: white;
}
.btn-socseti img {
  margin-left: 8px;
}
.btn-socseti:hover:not(:disabled), .btn-socseti:focus-visible:not(:disabled) {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.btn-socseti:active:not(:disabled) {
  background-color: #85BBE4;
}
.btn-socseti:disabled {
  background: none;
  background-color: #cccccc;
  cursor: initial;
}

.btn-socseti-white {
  fill: hsl(56, 98%, 57%);
}
.btn-socseti-white:active, .btn-socseti-white:hover, .btn-socseti-white:focus {
  fill: white;
}

.btn-disabled-yellow {
  background-color: red;
  cursor: initial;
}

.menu__btn.donate-btn {
  border: 1px solid rgba(0, 255, 26, 0.64);
  /*box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px, rgba(0, 0, 0, 0.08) 0 -2px 1px 0 inset, rgba(255, 255, 255, 0.5) 0 2px 1px 0 inset, 0 2px 5px -1px rgba(0, 0, 0, 0.05), 0 1px 3px -1px rgba(0, 0, 0, 0.3);*/
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px, rgba(0, 0, 0, 0.2) 0 -2px 1px 0 inset, rgba(255, 255, 255, 0.5) 0 2px 1px 0 inset, 0 2px 5px -1px rgba(0, 0, 0, 0.05), 0 1px 3px -1px rgba(0, 0, 0, 0.3);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.donate-animate {
  animation-name: jittery;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: 2;
  /*animation: 1s jittery 4s 1; */
}

.menu__btn.donate-btn:hover {
  /*animation: heartbeat 0.2s; */
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px, rgba(0, 0, 0, 0.2) 0 -1px 1px 0 inset, rgba(255, 255, 255, 0.5) 0 1px 1px 0 inset, 0 2px 5px -1px rgba(0, 0, 0, 0.05), 0 1px 3px -1px rgba(0, 0, 0, 0.3), 3px 3px 7px 0px rgba(0, 0, 0, 0.2509803922);
}

@keyframes jittery {
  50% {
    transform: scale(1);
  }
  99% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  15% {
    transform: scale(1.15);
  }
  20% {
    box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px, rgba(0, 0, 0, 0.2) 0 -2px 1px 0 inset, rgba(255, 255, 255, 0.5) 0 2px 1px 0 inset, 0 2px 5px -1px rgba(0, 0, 0, 0.05), 3px 3px 9px 6px rgba(0, 0, 0, 0.2509803922);
    transform: scale(1.15) rotate(-5deg);
  }
  25% {
    transform: scale(1.15) rotate(5deg);
  }
  30% {
    transform: scale(1.15) rotate(-3deg);
  }
  35% {
    transform: scale(1.15) rotate(2deg);
  }
  40% {
    transform: scale(1.15) rotate(0);
  }
}
@keyframes heartbeat {
  50% {
    transform: scale(1);
  }
}
.donate-title__wrap {
  max-width: 1080px;
  margin: 0 auto 64px;
  text-align: center;
}
.donate-title__wrap p {
  font-size: 24px;
  line-height: 32px;
}

.btn {
  font-family: "Inter", sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  height: 61px;
  padding: 16px;
  border-radius: 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  background-color: #1C59A6;
  border: none;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 45px;
  padding: 14px 12px;
  display: block;
  margin: 0 auto;
}
.btn img {
  margin-left: 8px;
}
.btn:hover:not(:disabled), .btn:focus-visible:not(:disabled) {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.btn:active:not(:disabled) {
  background-color: #85BBE4;
}
.btn:disabled {
  background: none;
  background-color: #cccccc;
  cursor: initial;
}

.result__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .result__container {
    margin-bottom: 48px;
  }
}

.result-item {
  flex-basis: 32%;
  flex-grow: 1;
  min-width: 288px;
  max-width: 528px;
  padding: 24px;
  border-radius: 15px;
  background: #F0F4F7;
}
@media screen and (min-width: 768px) {
  .result-item {
    min-width: 688px;
  }
}
@media screen and (min-width: 980px) {
  .result-item {
    min-width: 528px;
  }
}
.result-item__wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.result-item__img {
  height: 288px;
}
.result-item__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
.result-item__text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  color: #221F25;
  line-height: 32px;
}
.result-item__text h4 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.result-item__inner {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 16px;
}
.result-item__inner p:first-child {
  font-size: 24px;
}
.result-item__sum {
  margin-top: 16px;
  font-size: 18px;
}
.result-item__sum span {
  font-size: 24px;
  font-weight: 600;
}

/* 
You can use this class for button
 btn-main-s           - main button
 btn-main-m           - main button
 btn-main-l           - main button
 btn-advanced-s       - advanced button
 btn-advanced-m       - advanced button
 btn-advanced-l       - advanced button
 btn-icon-main        - button for icons
 btn-icon-advanced    - button for black icons
 btn-socseti-yellow   - button yellow for socseti
 btn-socseti-white    - button white for socseti
 btn-clear - utils, delete all styles from button
 */
/*$btn-main-active-background: color $blue;*/
/* delete */
/*
$btn-disabled: #f2b80030;
*/
/* reset style */
#btn-reset1, .btn-icon-main {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
#btn-reset1:hover, .btn-icon-main:hover, #btn-reset1:focus, .btn-icon-main:focus {
  outline: none;
  border: none;
}

#svg-animation, #btn-svg, .btn-icon-main, .btn-icon-advanced, .btn-socseti, .btn-socseti-white {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
#svg-animation .icon, #btn-svg .icon, .btn-icon-main .icon, .btn-icon-advanced .icon, .btn-socseti .icon, .btn-socseti-white .icon {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#btn-svg, .btn-socseti, .btn-socseti-white {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#btn-svg:hover, .btn-socseti:hover, .btn-socseti-white:hover, #btn-svg:focus, .btn-socseti:focus, .btn-socseti-white:focus {
  outline: none;
  border: none;
}
#btn-svg .icon, .btn-socseti .icon, .btn-socseti-white .icon {
  fill: inherit;
}

#svg-main, .btn-icon-main {
  fill: #1C59A6;
  /*
  &:active {
    fill: orange;
  }
  */
}
#svg-main .icon, .btn-icon-main .icon {
  fill: inherit;
  height: 100%;
}
#svg-main:hover, .btn-icon-main:hover, #svg-main:focus, .btn-icon-main:focus {
  fill: #85BBE4;
}

#svg-advanced, .btn-icon-advanced {
  fill: hsl(56, 98%, 57%);
}
#svg-advanced .icon, .btn-icon-advanced .icon {
  fill: inherit;
  stroke: white;
}
#svg-advanced:hover, .btn-icon-advanced:hover, #svg-advanced:focus, .btn-icon-advanced:focus {
  fill: red;
}
#svg-advanced:active, .btn-icon-advanced:active {
  fill: orange;
}

#btn-white, .btn-socseti-white {
  background-color: white;
}
#btn-white:hover, .btn-socseti-white:hover, #btn-white:focus, .btn-socseti-white:focus {
  background-color: #F2B800;
}
#btn-white:active, .btn-socseti-white:active {
  background-color: #E4AD00;
}

#btn-socseti, .btn-socseti, .btn-socseti-white {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.btn-clear {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
.btn-clear:hover, .btn-clear:focus {
  outline: none;
  border: none;
}

.btn-icon-main {
  /*@include btn-reset;*/
}

.btn-socseti {
  font-family: "Inter", sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  height: 61px;
  padding: 16px;
  border-radius: 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  background-color: #1C59A6;
  border: none;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: white;
}
.btn-socseti img {
  margin-left: 8px;
}
.btn-socseti:hover:not(:disabled), .btn-socseti:focus-visible:not(:disabled) {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.btn-socseti:active:not(:disabled) {
  background-color: #85BBE4;
}
.btn-socseti:disabled {
  background: none;
  background-color: #cccccc;
  cursor: initial;
}

.btn-socseti-white {
  fill: hsl(56, 98%, 57%);
}
.btn-socseti-white:active, .btn-socseti-white:hover, .btn-socseti-white:focus {
  fill: white;
}

.btn-disabled-yellow {
  background-color: red;
  cursor: initial;
}

.menu__btn.donate-btn {
  border: 1px solid rgba(0, 255, 26, 0.64);
  /*box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px, rgba(0, 0, 0, 0.08) 0 -2px 1px 0 inset, rgba(255, 255, 255, 0.5) 0 2px 1px 0 inset, 0 2px 5px -1px rgba(0, 0, 0, 0.05), 0 1px 3px -1px rgba(0, 0, 0, 0.3);*/
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px, rgba(0, 0, 0, 0.2) 0 -2px 1px 0 inset, rgba(255, 255, 255, 0.5) 0 2px 1px 0 inset, 0 2px 5px -1px rgba(0, 0, 0, 0.05), 0 1px 3px -1px rgba(0, 0, 0, 0.3);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.donate-animate {
  animation-name: jittery;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: 2;
  /*animation: 1s jittery 4s 1; */
}

.menu__btn.donate-btn:hover {
  /*animation: heartbeat 0.2s; */
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px, rgba(0, 0, 0, 0.2) 0 -1px 1px 0 inset, rgba(255, 255, 255, 0.5) 0 1px 1px 0 inset, 0 2px 5px -1px rgba(0, 0, 0, 0.05), 0 1px 3px -1px rgba(0, 0, 0, 0.3), 3px 3px 7px 0px rgba(0, 0, 0, 0.2509803922);
}

@keyframes jittery {
  50% {
    transform: scale(1);
  }
  99% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  15% {
    transform: scale(1.15);
  }
  20% {
    box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px, rgba(0, 0, 0, 0.2) 0 -2px 1px 0 inset, rgba(255, 255, 255, 0.5) 0 2px 1px 0 inset, 0 2px 5px -1px rgba(0, 0, 0, 0.05), 3px 3px 9px 6px rgba(0, 0, 0, 0.2509803922);
    transform: scale(1.15) rotate(-5deg);
  }
  25% {
    transform: scale(1.15) rotate(5deg);
  }
  30% {
    transform: scale(1.15) rotate(-3deg);
  }
  35% {
    transform: scale(1.15) rotate(2deg);
  }
  40% {
    transform: scale(1.15) rotate(0);
  }
}
@keyframes heartbeat {
  50% {
    transform: scale(1);
  }
}
.donate4 {
  max-width: 1356px;
  margin-left: auto;
  margin-right: auto;
}

.ui-accordion .ui-accordion-content {
  border: none;
  background: none;
}

/* .ui-accordion .ui-accordion-header .ui-icon { */
.accordion-icon {
  margin-left: 16px;
  width: 24px; /* Задайте желаемую ширину иконки */
  height: 24px; /* Задайте желаемую высоту иконки */
  background-image: url(../../../assets/images/icons/eva_arrow-up-fill.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  text-indent: -9999px; /* Скрывает текст иконки */
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ui-accordion-header-active .accordion-icon {
  transform: scale(1, -1);
}

.donate4-title {
  text-align: center;
  margin-bottom: 32px;
  font-size: 18px;
  color: #221F25;
}

.ui-accordion {
  border: none;
  font-family: "Open Sans", sans-serif;
  background: none;
}

.accordion-item {
  border-radius: 15px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accordion-item-active {
  box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.1098039216);
}

.accordion-item:not(:last-child) {
  margin-bottom: 24px;
}

.ui-accordion .ui-accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  padding: 17px 16px 17px 16px;
  background: #f0f4f7;
  border-radius: 15px;
  transition: background 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ui-accordion .ui-accordion-header-active {
  background: none;
}

.ui-accordion .ui-accordion-content {
  padding: 0 16px 16px 16px;
  font-size: 14px;
  font-style: italic;
}

.faq-text {
  padding-top: 16px;
  border-top: 1px solid #cccccc;
}

@media screen and (min-width: 768px) {
  .accordion-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .accordion-icon {
    width: 32px;
    height: 32px;
  }
  .donate4-title {
    font-size: 32px;
    margin-bottom: 56px;
  }
  .ui-accordion .ui-accordion-header {
    padding: 24px;
    font-size: 20px;
  }
  .ui-accordion .ui-accordion-content {
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .accordion-icon {
    width: 32px;
    height: 32px;
  }
  .donate4-title {
    margin-bottom: 64px;
  }
  .ui-accordion .ui-accordion-header {
    font-size: 24px;
  }
  .ui-accordion .ui-accordion-content {
    font-size: 18px;
  }
}
@media screen and (min-width: 1440px) {
  .ui-accordion .ui-accordion-content {
    font-size: 18px;
  }
}
.section__donate1 {
  padding-top: 84px;
  padding-bottom: 32px;
}

.donate-gl-title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .section__donate1 {
    padding-top: 104px;
  }
  .donate-gl-title {
    font-size: 32px;
    margin-bottom: 56px;
  }
}
@media screen and (min-width: 1200px) {
  .section__donate1 {
    padding-top: 128px;
    padding-bottom: 128px;
  }
  .donate-gl-title {
    font-size: 36px;
    margin-bottom: 104px;
  }
}
@media screen and (min-width: 1440px) {
  .section__donate1 {
    padding-bottom: 144px;
  }
}/*# sourceMappingURL=donates_money.css.map */