/* 
You can use this class for button
 btn-main-s           - main button
 btn-main-m           - main button
 btn-main-l           - main button
 btn-advanced-s       - advanced button
 btn-advanced-m       - advanced button
 btn-advanced-l       - advanced button
 btn-icon-main        - button for icons
 btn-icon-advanced    - button for black icons
 btn-socseti-yellow   - button yellow for socseti
 btn-socseti-white    - button white for socseti
 btn-clear - utils, delete all styles from button
 */
/*$btn-main-active-background: color $blue;*/
/* delete */
/*
$btn-disabled: #f2b80030;
*/
/* reset style */
#btn-reset1, .btn-icon-main {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
#btn-reset1:hover, .btn-icon-main:hover, #btn-reset1:focus, .btn-icon-main:focus {
  outline: none;
  border: none;
}

#svg-animation, .btn-icon-advanced, .btn-icon-main, #btn-svg, .btn-socseti-white, .btn-socseti {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
#svg-animation .icon, .btn-icon-advanced .icon, .btn-icon-main .icon, #btn-svg .icon, .btn-socseti-white .icon, .btn-socseti .icon {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#btn-svg, .btn-socseti-white, .btn-socseti {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#btn-svg:hover, .btn-socseti-white:hover, .btn-socseti:hover, #btn-svg:focus, .btn-socseti-white:focus, .btn-socseti:focus {
  outline: none;
  border: none;
}
#btn-svg .icon, .btn-socseti-white .icon, .btn-socseti .icon {
  fill: inherit;
}

#svg-main, .btn-icon-main {
  fill: #1C59A6;
  /*
  &:active {
    fill: orange;
  }
  */
}
#svg-main .icon, .btn-icon-main .icon {
  fill: inherit;
  height: 100%;
}
#svg-main:hover, .btn-icon-main:hover, #svg-main:focus, .btn-icon-main:focus {
  fill: #85BBE4;
}

#svg-advanced, .btn-icon-advanced {
  fill: hsl(56, 98%, 57%);
}
#svg-advanced .icon, .btn-icon-advanced .icon {
  fill: inherit;
  stroke: white;
}
#svg-advanced:hover, .btn-icon-advanced:hover, #svg-advanced:focus, .btn-icon-advanced:focus {
  fill: red;
}
#svg-advanced:active, .btn-icon-advanced:active {
  fill: orange;
}

#btn-white, .btn-socseti-white {
  background-color: white;
}
#btn-white:hover, .btn-socseti-white:hover, #btn-white:focus, .btn-socseti-white:focus {
  background-color: #F2B800;
}
#btn-white:active, .btn-socseti-white:active {
  background-color: #E4AD00;
}

#btn-socseti, .btn-socseti-white, .btn-socseti {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.btn-clear {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
.btn-clear:hover, .btn-clear:focus {
  outline: none;
  border: none;
}

.btn-icon-main {
  /*@include btn-reset;*/
}

.btn-socseti {
  font-family: "Inter", sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  height: 61px;
  padding: 16px;
  border-radius: 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  background-color: #1C59A6;
  border: none;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: white;
}
.btn-socseti img {
  margin-left: 8px;
}
.btn-socseti:hover:not(:disabled), .btn-socseti:focus-visible:not(:disabled) {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.btn-socseti:active:not(:disabled) {
  background-color: #85BBE4;
}
.btn-socseti:disabled {
  background: none;
  background-color: #cccccc;
  cursor: initial;
}

.btn-socseti-white {
  fill: hsl(56, 98%, 57%);
}
.btn-socseti-white:active, .btn-socseti-white:hover, .btn-socseti-white:focus {
  fill: white;
}

.btn-disabled-yellow {
  background-color: red;
  cursor: initial;
}

.menu__btn.donate-btn {
  border: 1px solid rgba(0, 255, 26, 0.64);
  /*box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px, rgba(0, 0, 0, 0.08) 0 -2px 1px 0 inset, rgba(255, 255, 255, 0.5) 0 2px 1px 0 inset, 0 2px 5px -1px rgba(0, 0, 0, 0.05), 0 1px 3px -1px rgba(0, 0, 0, 0.3);*/
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px, rgba(0, 0, 0, 0.2) 0 -2px 1px 0 inset, rgba(255, 255, 255, 0.5) 0 2px 1px 0 inset, 0 2px 5px -1px rgba(0, 0, 0, 0.05), 0 1px 3px -1px rgba(0, 0, 0, 0.3);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.donate-animate {
  animation-name: jittery;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: 2;
  /*animation: 1s jittery 4s 1; */
}

.menu__btn.donate-btn:hover {
  /*animation: heartbeat 0.2s; */
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px, rgba(0, 0, 0, 0.2) 0 -1px 1px 0 inset, rgba(255, 255, 255, 0.5) 0 1px 1px 0 inset, 0 2px 5px -1px rgba(0, 0, 0, 0.05), 0 1px 3px -1px rgba(0, 0, 0, 0.3), 3px 3px 7px 0px rgba(0, 0, 0, 0.2509803922);
}

@keyframes jittery {
  50% {
    transform: scale(1);
  }
  99% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  15% {
    transform: scale(1.15);
  }
  20% {
    box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px, rgba(0, 0, 0, 0.2) 0 -2px 1px 0 inset, rgba(255, 255, 255, 0.5) 0 2px 1px 0 inset, 0 2px 5px -1px rgba(0, 0, 0, 0.05), 3px 3px 9px 6px rgba(0, 0, 0, 0.2509803922);
    transform: scale(1.15) rotate(-5deg);
  }
  25% {
    transform: scale(1.15) rotate(5deg);
  }
  30% {
    transform: scale(1.15) rotate(-3deg);
  }
  35% {
    transform: scale(1.15) rotate(2deg);
  }
  40% {
    transform: scale(1.15) rotate(0);
  }
}
@keyframes heartbeat {
  50% {
    transform: scale(1);
  }
}
.section__donate1 {
  padding-top: 24px;
}

.donate1 {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.donate1 .donate-money {
  max-width: 571px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 43px;
  box-shadow: 4px 4px 43px 0px rgba(0, 0, 0, 0.1098039216);
  border-radius: 15px;
  background-color: #fefefe;
}

.textblock {
  text-align: center;
  line-height: 1.361;
}

.textblock-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 32px;
}

.textblock-text {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 24px;
}

.textblock-btn {
  font-family: "Inter", sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  height: 61px;
  padding: 16px;
  border-radius: 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  background-color: #1C59A6;
  border: none;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 45px;
  padding: 14px 12px;
}
.textblock-btn img {
  margin-left: 8px;
}
.textblock-btn:hover:not(:disabled), .textblock-btn:focus-visible:not(:disabled) {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.textblock-btn:active:not(:disabled) {
  background-color: #85BBE4;
}
.textblock-btn:disabled {
  background: none;
  background-color: #cccccc;
  cursor: initial;
}

@media screen and (min-width: 768px) {
  .section__donate1 {
    padding-top: 48px;
  }
  .donate1 {
    gap: 56px;
  }
  .donate1 .donate-money {
    padding-top: 40px;
    max-width: unset;
  }
  .textblock-title {
    font-size: 32px;
    margin-bottom: 56px;
  }
  .textblock-text {
    font-size: 20px;
    margin-bottom: 40px;
  }
  .textblock-btn {
    font-family: "Inter", sans-serif;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    height: 61px;
    padding: 16px;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    background-color: #1C59A6;
    border: none;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 20px;
    height: 56px;
    padding: 16px;
  }
  .textblock-btn img {
    margin-left: 8px;
  }
  .textblock-btn:hover:not(:disabled), .textblock-btn:focus-visible:not(:disabled) {
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  }
  .textblock-btn:active:not(:disabled) {
    background-color: #85BBE4;
  }
  .textblock-btn:disabled {
    background: none;
    background-color: #cccccc;
    cursor: initial;
  }
}
@media screen and (min-width: 1200px) {
  .section__donate1 {
    padding-top: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .donate1 {
    flex-direction: row;
    gap: unset;
    justify-content: center;
    max-width: 1450px;
    margin-left: auto;
    margin-right: auto;
  }
  .donate1 .donate-money {
    padding-top: 48px;
    margin-left: unset;
    margin-right: unset;
  }
  .textblock {
    width: 475px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .textblock-btn {
    font-family: "Inter", sans-serif;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    height: 61px;
    padding: 16px;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    background-color: #1C59A6;
    border: none;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 24px;
    height: 77px;
    padding: 24px 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .textblock-btn img {
    margin-left: 8px;
  }
  .textblock-btn:hover:not(:disabled), .textblock-btn:focus-visible:not(:disabled) {
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  }
  .textblock-btn:active:not(:disabled) {
    background-color: #85BBE4;
  }
  .textblock-btn:disabled {
    background: none;
    background-color: #cccccc;
    cursor: initial;
  }
}
@media screen and (min-width: 1440px) {
  .textblock {
    width: 667px;
  }
  .textblock-text {
    font-size: 24px;
    margin-bottom: 48px;
  }
}
/* 
You can use this class for button
 btn-main-s           - main button
 btn-main-m           - main button
 btn-main-l           - main button
 btn-advanced-s       - advanced button
 btn-advanced-m       - advanced button
 btn-advanced-l       - advanced button
 btn-icon-main        - button for icons
 btn-icon-advanced    - button for black icons
 btn-socseti-yellow   - button yellow for socseti
 btn-socseti-white    - button white for socseti
 btn-clear - utils, delete all styles from button
 */
/*$btn-main-active-background: color $blue;*/
/* delete */
/*
$btn-disabled: #f2b80030;
*/
/* reset style */
#btn-reset1, .btn-icon-main {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
#btn-reset1:hover, .btn-icon-main:hover, #btn-reset1:focus, .btn-icon-main:focus {
  outline: none;
  border: none;
}

#svg-animation, #btn-svg, .btn-icon-main, .btn-icon-advanced, .btn-socseti, .btn-socseti-white {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
#svg-animation .icon, #btn-svg .icon, .btn-icon-main .icon, .btn-icon-advanced .icon, .btn-socseti .icon, .btn-socseti-white .icon {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#btn-svg, .btn-socseti, .btn-socseti-white {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#btn-svg:hover, .btn-socseti:hover, .btn-socseti-white:hover, #btn-svg:focus, .btn-socseti:focus, .btn-socseti-white:focus {
  outline: none;
  border: none;
}
#btn-svg .icon, .btn-socseti .icon, .btn-socseti-white .icon {
  fill: inherit;
}

#svg-main, .btn-icon-main {
  fill: #1C59A6;
  /*
  &:active {
    fill: orange;
  }
  */
}
#svg-main .icon, .btn-icon-main .icon {
  fill: inherit;
  height: 100%;
}
#svg-main:hover, .btn-icon-main:hover, #svg-main:focus, .btn-icon-main:focus {
  fill: #85BBE4;
}

#svg-advanced, .btn-icon-advanced {
  fill: hsl(56, 98%, 57%);
}
#svg-advanced .icon, .btn-icon-advanced .icon {
  fill: inherit;
  stroke: white;
}
#svg-advanced:hover, .btn-icon-advanced:hover, #svg-advanced:focus, .btn-icon-advanced:focus {
  fill: red;
}
#svg-advanced:active, .btn-icon-advanced:active {
  fill: orange;
}

#btn-white, .btn-socseti-white {
  background-color: white;
}
#btn-white:hover, .btn-socseti-white:hover, #btn-white:focus, .btn-socseti-white:focus {
  background-color: #F2B800;
}
#btn-white:active, .btn-socseti-white:active {
  background-color: #E4AD00;
}

#btn-socseti, .btn-socseti, .btn-socseti-white {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.btn-clear {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
.btn-clear:hover, .btn-clear:focus {
  outline: none;
  border: none;
}

.btn-icon-main {
  /*@include btn-reset;*/
}

.btn-socseti {
  font-family: "Inter", sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  height: 61px;
  padding: 16px;
  border-radius: 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  background-color: #1C59A6;
  border: none;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: white;
}
.btn-socseti img {
  margin-left: 8px;
}
.btn-socseti:hover:not(:disabled), .btn-socseti:focus-visible:not(:disabled) {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.btn-socseti:active:not(:disabled) {
  background-color: #85BBE4;
}
.btn-socseti:disabled {
  background: none;
  background-color: #cccccc;
  cursor: initial;
}

.btn-socseti-white {
  fill: hsl(56, 98%, 57%);
}
.btn-socseti-white:active, .btn-socseti-white:hover, .btn-socseti-white:focus {
  fill: white;
}

.btn-disabled-yellow {
  background-color: red;
  cursor: initial;
}

.menu__btn.donate-btn {
  border: 1px solid rgba(0, 255, 26, 0.64);
  /*box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px, rgba(0, 0, 0, 0.08) 0 -2px 1px 0 inset, rgba(255, 255, 255, 0.5) 0 2px 1px 0 inset, 0 2px 5px -1px rgba(0, 0, 0, 0.05), 0 1px 3px -1px rgba(0, 0, 0, 0.3);*/
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px, rgba(0, 0, 0, 0.2) 0 -2px 1px 0 inset, rgba(255, 255, 255, 0.5) 0 2px 1px 0 inset, 0 2px 5px -1px rgba(0, 0, 0, 0.05), 0 1px 3px -1px rgba(0, 0, 0, 0.3);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.donate-animate {
  animation-name: jittery;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: 2;
  /*animation: 1s jittery 4s 1; */
}

.menu__btn.donate-btn:hover {
  /*animation: heartbeat 0.2s; */
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px, rgba(0, 0, 0, 0.2) 0 -1px 1px 0 inset, rgba(255, 255, 255, 0.5) 0 1px 1px 0 inset, 0 2px 5px -1px rgba(0, 0, 0, 0.05), 0 1px 3px -1px rgba(0, 0, 0, 0.3), 3px 3px 7px 0px rgba(0, 0, 0, 0.2509803922);
}

@keyframes jittery {
  50% {
    transform: scale(1);
  }
  99% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  15% {
    transform: scale(1.15);
  }
  20% {
    box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px, rgba(0, 0, 0, 0.2) 0 -2px 1px 0 inset, rgba(255, 255, 255, 0.5) 0 2px 1px 0 inset, 0 2px 5px -1px rgba(0, 0, 0, 0.05), 3px 3px 9px 6px rgba(0, 0, 0, 0.2509803922);
    transform: scale(1.15) rotate(-5deg);
  }
  25% {
    transform: scale(1.15) rotate(5deg);
  }
  30% {
    transform: scale(1.15) rotate(-3deg);
  }
  35% {
    transform: scale(1.15) rotate(2deg);
  }
  40% {
    transform: scale(1.15) rotate(0);
  }
}
@keyframes heartbeat {
  50% {
    transform: scale(1);
  }
}
.img-text__title {
  text-align: center;
}
.img-text__title--desc {
  display: none;
}
@media (min-width: 1200px) {
  .img-text__title--desc {
    display: block;
    margin-bottom: 64px;
  }
}
.img-text__title--mob {
  display: block;
  margin-bottom: 33px;
}
@media (min-width: 1200px) {
  .img-text__title--mob {
    display: none;
  }
}
.img-text__wrap {
  display: flex;
  flex-direction: column;
}
.img-text--reverse .img-text__wrap {
  flex-direction: column-reverse;
}
@media (min-width: 1200px) {
  .img-text--reverse .img-text__wrap, .img-text__wrap {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }
}
.img-text__img {
  width: 100%;
  align-self: center;
  margin-bottom: 16px;
}
.img-text__img img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
@media (min-width: 768px) {
  .img-text__img {
    width: 74%;
    margin-bottom: 24px;
  }
}
@media (min-width: 1200px) {
  .img-text__img {
    margin-bottom: 0;
    width: 50%;
  }
}
.img-text__content {
  flex-basis: 50%;
  flex-grow: 1;
  font-size: 14px;
  line-height: 121%;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
}
@media (min-width: 767px) {
  .img-text__content {
    font-size: 20px;
  }
}
@media (min-width: 1600px) {
  .img-text__content {
    font-size: 24px;
  }
}
.img-text__content > p {
  margin-bottom: 15px;
  text-indent: 1.5em;
}
.img-text__button {
  margin-top: 24px;
  text-align: center;
}
@media (min-width: 768px) {
  .img-text__button {
    margin-top: 40px;
  }
}
@media (min-width: 1200px) {
  .img-text__button {
    /*margin-top: 40px;*/
  }
}
.img-text__btn {
  font-family: "Inter", sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  height: 61px;
  padding: 16px;
  border-radius: 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  background-color: #1C59A6;
  border: none;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 45px;
  padding: 14px 12px;
}
.img-text__btn img {
  margin-left: 8px;
}
.img-text__btn:hover:not(:disabled), .img-text__btn:focus-visible:not(:disabled) {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.img-text__btn:active:not(:disabled) {
  background-color: #85BBE4;
}
.img-text__btn:disabled {
  background: none;
  background-color: #cccccc;
  cursor: initial;
}
@media (min-width: 768px) {
  .img-text__btn {
    font-family: "Inter", sans-serif;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    height: 61px;
    padding: 16px;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    background-color: #1C59A6;
    border: none;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 20px;
    height: 56px;
    padding: 16px;
  }
  .img-text__btn img {
    margin-left: 8px;
  }
  .img-text__btn:hover:not(:disabled), .img-text__btn:focus-visible:not(:disabled) {
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  }
  .img-text__btn:active:not(:disabled) {
    background-color: #85BBE4;
  }
  .img-text__btn:disabled {
    background: none;
    background-color: #cccccc;
    cursor: initial;
  }
}
@media (min-width: 1200px) {
  .img-text__btn {
    font-family: "Inter", sans-serif;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    height: 61px;
    padding: 16px;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    background-color: #1C59A6;
    border: none;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 24px;
    height: 77px;
    padding: 24px 20px;
  }
  .img-text__btn img {
    margin-left: 8px;
  }
  .img-text__btn:hover:not(:disabled), .img-text__btn:focus-visible:not(:disabled) {
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  }
  .img-text__btn:active:not(:disabled) {
    background-color: #85BBE4;
  }
  .img-text__btn:disabled {
    background: none;
    background-color: #cccccc;
    cursor: initial;
  }
}
@media (min-width: 1440px) {
  .img-text__btn {
    /*margin-top: 72px; */
  }
}
.img-text__btn-advanced {
  font-family: "Inter", sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  height: 61px;
  padding: 16px;
  border-radius: 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  background-color: #1C59A6;
  border: none;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #221F25;
  background: linear-gradient(180deg, rgba(28, 89, 166, 0.5) -9.37%, rgba(253, 239, 38, 0.5) 110.94%);
  height: 45px;
  padding: 14px 12px;
}
.img-text__btn-advanced img {
  margin-left: 8px;
}
.img-text__btn-advanced:hover:not(:disabled), .img-text__btn-advanced:focus-visible:not(:disabled) {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.img-text__btn-advanced:active:not(:disabled) {
  background-color: #85BBE4;
}
.img-text__btn-advanced:disabled {
  background: none;
  background-color: #cccccc;
  cursor: initial;
}
.img-text__btn-advanced:hover:not(:disabled), .img-text__btn-advanced:focus-visible:not(:disabled) {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.img-text__btn-advanced:active:not(:disabled) {
  background: linear-gradient(180deg, #1C59A6 -9.37%, #FDEF26 110.94%);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
@media (min-width: 768px) {
  .img-text__btn-advanced {
    font-family: "Inter", sans-serif;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    height: 61px;
    padding: 16px;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    background-color: #1C59A6;
    border: none;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #221F25;
    background: linear-gradient(180deg, rgba(28, 89, 166, 0.5) -9.37%, rgba(253, 239, 38, 0.5) 110.94%);
    font-size: 20px;
    height: 56px;
    padding: 16px;
  }
  .img-text__btn-advanced img {
    margin-left: 8px;
  }
  .img-text__btn-advanced:hover:not(:disabled), .img-text__btn-advanced:focus-visible:not(:disabled) {
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  }
  .img-text__btn-advanced:active:not(:disabled) {
    background-color: #85BBE4;
  }
  .img-text__btn-advanced:disabled {
    background: none;
    background-color: #cccccc;
    cursor: initial;
  }
  .img-text__btn-advanced:hover:not(:disabled), .img-text__btn-advanced:focus-visible:not(:disabled) {
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  }
  .img-text__btn-advanced:active:not(:disabled) {
    background: linear-gradient(180deg, #1C59A6 -9.37%, #FDEF26 110.94%);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  }
}
@media (min-width: 1200px) {
  .img-text__btn-advanced {
    font-family: "Inter", sans-serif;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    height: 61px;
    padding: 16px;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    background-color: #1C59A6;
    border: none;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #221F25;
    background: linear-gradient(180deg, rgba(28, 89, 166, 0.5) -9.37%, rgba(253, 239, 38, 0.5) 110.94%);
    font-size: 24px;
    height: 77px;
    padding: 24px 20px;
  }
  .img-text__btn-advanced img {
    margin-left: 8px;
  }
  .img-text__btn-advanced:hover:not(:disabled), .img-text__btn-advanced:focus-visible:not(:disabled) {
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  }
  .img-text__btn-advanced:active:not(:disabled) {
    background-color: #85BBE4;
  }
  .img-text__btn-advanced:disabled {
    background: none;
    background-color: #cccccc;
    cursor: initial;
  }
  .img-text__btn-advanced:hover:not(:disabled), .img-text__btn-advanced:focus-visible:not(:disabled) {
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  }
  .img-text__btn-advanced:active:not(:disabled) {
    background: linear-gradient(180deg, #1C59A6 -9.37%, #FDEF26 110.94%);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  }
}

.don2__wrap {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  .don2__wrap {
    flex-direction: row;
    gap: 74px;
  }
}

.don2__block {
  text-align: center;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .don2__block {
    margin-bottom: 56px;
  }
}
@media screen and (min-width: 1280px) {
  .don2__block {
    width: 50%;
  }
}

.don2__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5em;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .don2__title {
    font-size: 32px;
    margin-bottom: 56px;
  }
}

.don2__text {
  font-size: 14px;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .don2__text {
    font-size: 20px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1920px) {
  .don2__text {
    font-size: 24px;
  }
}

.don2__swip {
  display: flex;
  justify-content: center;
}

.donate3 {
  display: flex;
  flex-direction: column;
  line-height: 1.361;
}

.separator {
  width: 100%;
  height: 2px;
  background-color: #64C642;
}

.donate3-wrap {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 448px;
}

.donate3-wrap:first-child {
  padding-bottom: 48px;
}

.donate3-wrap:last-child {
  padding-top: 48px;
}

.donate3-title {
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 700;
}

.donate3-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.donate3-wrap111 {
  display: block;
  flex-direction: column;
}

.donate3-item {
  width: 100px;
  height: 158px;
}

.donate3-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: flex-start;
}

.donate3-icon {
  width: 95px;
  height: 95px;
  margin-bottom: 24px;
}

.donate3-text {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

.donate3-btn {
  font-family: "Inter", sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  height: 61px;
  padding: 16px;
  border-radius: 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  background-color: #1C59A6;
  border: none;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 45px;
  padding: 14px 12px;
}
.donate3-btn img {
  margin-left: 8px;
}
.donate3-btn:hover:not(:disabled), .donate3-btn:focus-visible:not(:disabled) {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.donate3-btn:active:not(:disabled) {
  background-color: #85BBE4;
}
.donate3-btn:disabled {
  background: none;
  background-color: #cccccc;
  cursor: initial;
}

@media screen and (min-width: 768px) {
  .donate3-title {
    margin-bottom: 56px;
    font-size: 32px;
  }
  .donate3-list {
    margin-bottom: 48px;
  }
  .donate3-wrap:first-child {
    padding-bottom: 56px;
  }
  .donate3-wrap:last-child {
    padding-top: 56px;
  }
  .donate3-item {
    width: 204px;
    height: 218px;
  }
  .donate3-icon {
    width: 124px;
    height: 124px;
  }
  .donate3-text {
    font-size: 24px;
  }
  .donate3-btn {
    font-family: "Inter", sans-serif;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    height: 61px;
    padding: 16px;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    background-color: #1C59A6;
    border: none;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 20px;
    height: 56px;
    padding: 16px;
  }
  .donate3-btn img {
    margin-left: 8px;
  }
  .donate3-btn:hover:not(:disabled), .donate3-btn:focus-visible:not(:disabled) {
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  }
  .donate3-btn:active:not(:disabled) {
    background-color: #85BBE4;
  }
  .donate3-btn:disabled {
    background: none;
    background-color: #cccccc;
    cursor: initial;
  }
}
@media screen and (min-width: 1200px) {
  .separator {
    width: 2px;
    height: auto;
  }
  .donate3 {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1088px;
    margin-left: auto;
    margin-right: auto;
  }
  .donate3-title {
    font-size: 32px;
    margin-bottom: 72px;
  }
  .donate3-wrap {
    width: 50%;
    padding: 46px 0;
    margin-left: 0;
    margin-right: 0;
  }
  .donate3-item {
    height: 218px;
  }
  .donate3-icon {
    width: 124px;
    height: 124px;
  }
  .donate3-text {
    font-size: 24px;
  }
  .donate3-btn {
    font-family: "Inter", sans-serif;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    height: 61px;
    padding: 16px;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    background-color: #1C59A6;
    border: none;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 24px;
    height: 77px;
    padding: 24px 20px;
  }
  .donate3-btn img {
    margin-left: 8px;
  }
  .donate3-btn:hover:not(:disabled), .donate3-btn:focus-visible:not(:disabled) {
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  }
  .donate3-btn:active:not(:disabled) {
    background-color: #85BBE4;
  }
  .donate3-btn:disabled {
    background: none;
    background-color: #cccccc;
    cursor: initial;
  }
}
@media screen and (min-width: 1440px) {
  .donate3 {
    max-width: 1172px;
  }
  .donate3-wrap {
    padding: 67px 0;
  }
  .donate3-item {
    height: 224px;
  }
  .donate3-icon {
    width: 130px;
    height: 130px;
  }
}
.btn-test {
  font-family: "Inter", sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  height: 61px;
  padding: 16px;
  border-radius: 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  background-color: #1C59A6;
  border: none;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 24px;
  height: 77px;
  padding: 24px 20px;
  /*
  background: red;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 50px;
  padding: 0.8rem 2rem;
  font: 24px "Margarine", sans-serif;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: 0.2s ease-in-out;
  letter-spacing: 2px;
  */
}
.btn-test img {
  margin-left: 8px;
}
.btn-test:hover:not(:disabled), .btn-test:focus-visible:not(:disabled) {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.btn-test:active:not(:disabled) {
  background-color: #85BBE4;
}
.btn-test:disabled {
  background: none;
  background-color: #cccccc;
  cursor: initial;
}

/* border: 2px solid rgb(9 182 0 / 70%); */
.donate-gl-title {
  font-size: 18px;
  text-align: center;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .donate-gl-title {
    font-size: 32px;
    margin-bottom: 56px;
  }
}
@media screen and (min-width: 1200px) {
  .donate-gl-title {
    font-size: 36px;
    margin-bottom: 104px;
  }
}
@media screen and (min-width: 1440px) {
  .donate-gl-title {
    margin-bottom: 112px;
  }
}/*# sourceMappingURL=donates.css.map */