@import "../parts-styles/news-search";
@import "../parts-styles/news-filter";
@import "../variables";

.section.news {
  padding-top: 24px;
}

.container.news {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-title {
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 1.36;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .section.news {
    padding-top: 48px;
  }
  .news-title {
    font-size: 32px;
    margin-bottom: 56px;
  }
}

@media screen and (min-width: 1200px) {
  .section.news {
    padding-top: 64px;
  } 
  .news-title {
    font-size: 36px;
    margin-bottom: 107px;
  }
}

@media screen and (min-width: 1440px) {
  .news-title {
    font-size: 36px;
    margin-bottom: 112px;
  }
}
