@import "../variables";

.our-team-members-title {
  font-family: $font-main;
  font-weight: 700;
  text-align: center;
}

@media screen and (max-width: 767.9px) {
  .section.our-team-members {
    padding-top: 24px;
  }

  .our-team-members-title {
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) {
  .section.our-team-members {
    padding-top: 64px;
  }

  .our-team-members-title {
    font-size: 32px;
  }
}

@media screen and (min-width: 990px) {
}

@media screen and (min-width: 1200px) {
  .our-team-members-title {
    font-size: 36px;
  }
}

@media screen and (min-width: 1440px) {
}
