@import "../styles/global";

svg {
  fill: $black;
}

.footer {
  padding: 32px 0;
  background: $gradient;
}

.footer__inner-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;

  margin-bottom: 40px;
}

.logo_img {
  width: 106px;
}

/*
.logo__link {
    width: 106px;
    height: 106px;
    margin: 0 auto;
    display: block;
    margin-bottom: 32px;
}

.footer__logo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $white;
}
*/
// Privacy__list
.privacy__list {
  display: flex;
  gap:14px;
  flex-direction: column;
  row-gap: 8px;
  font-size: 14px;
  font-weight: 500;
}

.privacy__item {
}

.privacy__link {
  color: $black;
  line-height: 45px;
}
.privacy__link:hover,
.privacy__link:focus {
  text-decoration: underline;
}

// Social-media
.social-media__list {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.social-media__link {
  display: flex;
  align-items: center;
  height: 45px;
  gap: 8px;
  color: $black;
  transition: fill $animations, color $animations;
}
.social-media__link:hover,
.social-media__link:focus {
  & .social__icon {
    fill: $dark-blue;
  }
  color: $dark-blue;
}

.social__icon {
  width: 24px;
  height: 24px;
}

// Copyright__desc
.copyright__desc {
  font-family: $font-main;
  text-align: center;
  font-size: 12px;
  line-height: 1.38;
  font-weight: 400;
  color: $black;
}

@media screen and (min-width: 576px) {
  /*
    .footer__inner-wrap {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 52px;
    }
    */
  /*
    .logo__link {
        margin: 0;
    }
    */

  /*
    // Privacy__list
    .privacy__list {
        row-gap: 16px;
        margin: 0;
    }

    .privacy__link {
        font-size: 16px;
    }
    */

  /*
    // Social-media
    .social-media__list {
        row-gap: 12px;
    }
    */
  /*
    // Copyright__desc
    .copyright__desc {
        font-size: 14px;
    }
    */
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 24px 0;
    margin-top: auto;
  }

  .footer__inner-wrap {
    flex-direction: row;
    justify-content: space-between;
    gap: 32px 24px; 
    align-items: center;
    margin-bottom: 40px;
    flex-wrap: wrap;

  }
  .logo1{
    width: 100%;
  }
  
  .logo_img {
    width: 121px;
    margin-left: auto;
    margin-right: auto;
  }

  .privacy__list {
    align-items: start;
    gap: 16px;
  }

  .privacy__item {
    padding: 10px 0;
  }

  .privacy__link {
    font-size: 20px;
  }

  // Social-media
  .social-media__list {
    row-gap: 16px;
  }

  .social-media__link {
    font-size: 20px;
  }
  .copyright__desc {
    font-size: 14px;
  }
}

@media screen and (min-width: 992px) {
  .footer {
    padding: 32px 0;
  }

  .footer__inner-wrap {
    flex-wrap: nowrap;
  }

  .footer__inner-wrap {
    gap: 24px;
  }
  // Privacy__list
  .privacy__list {
    flex-direction: row;
    gap: 40px;
  }

  .logo1{
    width: unset;
  }
  .logo_img {
    margin-left: 0;
    margin-right: 0;
  }

  .privacy__item {
    padding: 0;
  }
  .privacy__link {
    font-size: 18px;
  }

  // Social-media
  .social-media__list {
  }

  .social-media__link {
    font-size: 20px;
  }
  // Copyright__desc
  .copyright__desc {
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__inner-wrap {
    margin-bottom: 40px;
  }

  .logo_img {
    width: 153px;
  }
  // Privacy__list
  .privacy__list {
    gap: 48px;
  }

  .privacy__link {
    font-size: 24px;
  }

  // Social-media
  .social-media__list {
    gap: 32px;
  }

  .social-media__link {
    height: unset;
  }

  .social__icon {
    width: 32px;
    height: 32px;
  }

  // Copyright__desc
  .copyright__desc {
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .social-media__list {
    font-style: 24px;
  }
}
