* {
  box-sizing: border-box;

}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-style: normal;
  font-family: $font-main;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}