@import "../styles/global";
@import "./components";
@import "./variables";

body {
  font-family: "Inter", sans-serif;
}

.header {
  display: flex;
  justify-content: center;

  position: fixed;
  width: 100%;
  height: 85px;
  z-index: 100;
  background: $white;
}

.nav__site,
.menu__item,
.menu__item-inst {
  display: none;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding-top: 16px;
  background: $white;
  width: 100%;
}

.btn__img {
  margin-right: 81px;
}

.modal__btn {
  display: block;
  background: $white;
  border: 0;
  cursor: pointer;
  padding: 0;
}

.modal__btn.js-open-menu {
  margin-right: auto;
}

/* .logo {
  font-size: 8px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  height: 56px;
  width: 56px;
  padding-top: 10px;
  color: $black;
}

.logo::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  padding: 2px;
  background: linear-gradient(
    149.83deg,
    rgb(56, 159, 236) 13.392%,
    rgb(55, 157, 234) 26.571%,
    rgb(55, 153, 227) 31.696%,
    rgb(55, 146, 215) 35.357%,
    rgb(55, 135, 198) 38.286%,
    rgb(54, 121, 176) 40.483%,
    rgb(53, 104, 149) 42.679%,
    rgb(52, 83, 116) 44.144%,
    rgb(52, 60, 80) 46.34%,
    rgb(56, 39, 37) 47.805%,
    rgb(96, 80, 35) 50.001%,
    rgb(133, 117, 33) 51.465%,
    rgb(165, 150, 31) 53.662%,
    rgb(191, 177, 30) 56.591%,
    rgb(213, 199, 29) 58.787%,
    rgb(229, 216, 28) 62.448%,
    rgb(241, 228, 27) 66.109%,
    rgb(248, 235, 27) 71.234%,
    rgb(250, 237, 27) 86.61%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
} */

.logo {
  @include logo;
}

/*.nav__img {
  position: relative;
  width: 46px;
}*/

.menu {
  margin-left: auto;
}

.menu__btn {
  @include btn-advanced-s;

  @media screen and (min-width: 768px) {
    @include btn-advanced-m;
  }
}

.menu__itm-lang {
  color: $dark-blue;
}

/* modal */
.js-menu-container {
  position: absolute;
  border: 2px solid $green;
  border-radius: 15px;
  padding: 24px 16px;
  width: 100%;
  top: 24px;

  background: $white;
  transform: translateY(-200%);
  transition-duration: 0.4s;
}

.is__open {
  transform: translateY(0);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(20, 20, 20, 0.9);

  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.1s;
}

.nav__modal-wrap {
  margin-top: 38px;
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.nav__modal {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.menu__modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__modal-item {
  display: flex;
  align-items: center;
}

.menu__modal-img {
  margin-right: 12px;
}
.menu__modal-img {
  margin-right: 15px;
}

.nav__item-modal {
  font-size: 14px;
  font-weight: 500;
}

.link-modal {
  color: $black;
}

.menu__item-modal {
  margin-top: 36px;
}

//adaptiv
@media screen and (min-width: 768px) {
  .header {
    height: 130px;
  }

  /*.logo {
    font-size: 12px;
    padding-top: 14px;
    letter-spacing: 0.2em;
    height: 100px;
    width: 100px;
  }*/

  /*.nav__img {
    top: -4px;
    width: 83px;
  }*/

  .btn__img {
    width: 34px;
    margin-right: 114px;
  }

  .js-menu-container {
    padding: 32px 40px;
  }

  .nav__modal-wrap {
    display: flex;
    flex-direction: row;
    gap: 164px;
    margin: 68px 0;
  }
  .nav__item-modal {
    font-size: 20px;
  }
}

@media screen and (min-width: 992px) {
  .header {
    height: 190px;
  }

  .wrap {
    flex-wrap: wrap;
  }

  .menu__overlay {
    display: none;
  }

  /*.logo {
    margin-right: auto;
  }*/

  .modal__btn {
    display: none;
  }

  .nav {
    align-items: center;
    display: flex;
  }

  /*.nav__img {
    top: -4px;
    width: 94px;
  }*/

  .nav__site {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    font-size: 24px;
    font-weight: 500;
  }

  .link {
    text-decoration: none;
    color: $black;
  }

  .link:hover {
    border-bottom: 2px solid $black;
  }

  .menu {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .menu__item-inst {
    display: block;
  }

  .menu__item-inst {
    width: 32px;
  }

  .menu__item {
    font-size: 18px;
    color: $black;
    font-weight: 500;
    text-transform: uppercase;

    display: flex;
    align-items: center;
  }

  .menu__img {
    margin-right: 8px;
  }

  ///

  .menu__btn {
    font-size: 24px;
    padding: 24px 20px;
    border-radius: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    height: 205px;
  }

  .nav__site {
    gap: 24px;
  }

  .menu__item {
    font-size: 24px;
  }

  /*.logo {
    font-size: 14px;
    letter-spacing: 0.32em;
    padding-top: 20px;
    height: 114px;
    width: 114px;
  }*/
}

@media screen and (min-width: 1440px) {
  .header {
    height: 140px;
  }

  .wrap {
    gap: 36px;
  }
}

@media screen and (min-width: 1600px) {
  .wrap {
    flex-wrap: nowrap;
    gap: 88px;
  }

  .nav__site {
    gap: 36px;
  }

  @media screen and (min-width: 1920px) {
    .wrap {
      gap: 118px;
    }

    .nav__site {
      gap: 46px;
    }
  }
}
