@import "../styles/global";
@import "./variables";
@import "./components";
@import "./parts-styles/lang_switcher";

.header {
  font-family: "Inter", sans-serif;
  box-shadow: 4px 4px 43px 0px #0000001c;

  position: fixed;
  width: 100%;
  height: 72px;
  z-index: 100;
  background: $white;
}

.nav__site,
.menu__item,
.menu__item-inst {
  display: none;
}

.current-menu-item a {
  color: $dark-blue;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  /*position: fixed;*/
  padding: 8px 0;
  background: $white;
  width: 100%;
  height: 100%;
}

.btn__img {
  width: 32px;
  height: 32px;
  margin-right: 81px;
  fill: $dark-blue;
}

.modal__btn {
  display: flex;
  background: $white;
  border: 0;
  cursor: pointer;
  padding: 0;
}

.modal__btn.js-open-menu {
  margin-right: auto;
}

.modal__btn svg {
  width: 32px;
  height: 32px;
  fill: $dark-blue;
}

.logo {
  width: 56px;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.menu {
  margin-left: auto;
}

.menu__btn {
  @include btn-advanced-s;

  @media screen and (min-width: 768px) {
    @include btn-advanced-m;
  }

  @media screen and (min-width: 992px) {
    @include btn-advanced-l;
  }
}

.menu__itm-lang.active {
  color: $dark-blue;
}

/* modal */
.js-menu-container {
  position: fixed;
  border: 2px solid $green;
  border-radius: 15px;
  padding: 24px 16px;
  width: 100%;
  top: 24px;
  left: 0;
  background: $white;
  transform: translateY(-200%);
  transition-duration: 1s;
}

.is__open {
  transform: translateY(0);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /*
  background-color: rgba(20, 20, 20, 0.7);
  */
  transition-property: background-color;
  transition-duration: 0.5s;
}

.nav__modal-wrap {
  margin-top: 38px;
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.nav__modal {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.menu__modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__modal-item {
  display: flex;
  align-items: center;
}

.menu__modal-item svg {
  width: 32px;
  height: 32px;

  stroke: $black;
}

.menu__modal-img {
  margin-right: 12px;
}
.menu__modal-img {
  margin-right: 15px;
}

.nav__item-modal {
  font-size: 14px;
  font-weight: 500;
}

.nav__img-inst {
  width: 44px;
  height: 44px;
  fill: $black;
}

.link-modal {
  color: $black;
}

.menu__item-modal {
  margin-top: 36px;
}

//adaptiv
@media screen and (min-width: 768px) {
  .header {
    height: 116px;
  }

  .logo {
    width: 100px;
  }

  .btn__img {
    width: 44px;
    height: 44px;
    margin-right: 114px;
  }

  .js-menu-container {
    padding: 32px 40px;
  }

  .modal__btn svg {
    width: 44px;
    height: 44px;
  }

  .nav__modal-wrap {
    display: flex;
    flex-direction: row;
    gap: 164px;
    margin: 68px 0;
  }
  .nav__item-modal {
    font-size: 20px;
  }

  .nav__modal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 38px 164px;
  }

  .nav__modal li {
    font-size: 20px;
  }
}

@media screen and (min-width: 992px) {
  .header {
    height: 190px;
  }

  .logo {
    width: 114px;
    position: static;
    transform: translateX(0);
  }

  .wrap {
    flex-wrap: wrap;
    margin-top: 0;
  }

  .wrap > :nth-child(3) {
    order: 4;
  }
  .wrap > :nth-child(4) {
    order: 3;
  }

  .menu__overlay {
    display: none;
  }

  .modal__btn {
    display: none;
  }

  .nav {
    align-items: center;
    display: flex;
    width: 100%;
  }

  .nav__site {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    font-size: 24px;
    font-weight: 500;

    margin-top: 24px;
    width: 100%;
  }

  .menu-item a {
    text-decoration: none;
    color: $black;

    transition: color 0.3s;
  }

  .menu-item a:hover {
    border-bottom: 2px solid $black;
    color: $black;
  }

  .menu {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .menu__item-inst {
    display: flex;
  }

  .menu__item-inst svg {
    width: 32px;
    height: 32px;

    fill: $black;
    transition: fill 0.3s;
  }

  .menu__item-inst:hover svg {
    fill: $dark-blue;
  }

  .menu__item svg {
    width: 32px;
    height: 32px;

    stroke: $black;
    transition: stroke 0.3s;
  }

  .menu__item:hover svg {
    stroke: $dark-blue;
  }

  .menu__item {
    font-size: 24px;
    color: $black;
    font-weight: 500;
    text-transform: uppercase;

    display: flex;
    align-items: center;
  }

  .menu__img {
    margin-right: 8px;
  }

  .current-menu-item a {
    color: $dark-blue;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    height: 200px;
  }

  .nav__site {
    gap: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    height: 140px;
  }

  .wrap {
    gap: 62px;
  }

  .menu {
    margin-left: 0;
  }

  .wrap > :nth-child(3) {
    order: 3;
  }
  .wrap > :nth-child(4) {
    order: 4;
  }

  .nav {
    width: auto;
  }

  .nav__site {
    margin-top: 0;
  }
}

@media screen and (min-width: 1600px) {
  .wrap {
    flex-wrap: nowrap;
    gap: 115px;
  }

  .nav__site {
    gap: 36px;
  }
}

@media screen and (min-width: 1920px) {
  .wrap {
    gap: 135px;
  }

  .nav__site {
    gap: 46px;
  }
}
