$font-main: "Open Sans", sans-serif;
$font-advanced: 'Inter', sans-serif;

$yellow: #FDEF26;
$blue: #85BBE4;
$light-blue: #F0F4F7;
$dark-blue: #1C59A6;
$black: #221F25;
$white: #FFFFFF;
$grey: #D9D9D9;
$green: #64C642;
$background: #fefefe;
$swiper-pagination-active: #85BBE4;

$gradient:  linear-gradient(180deg, rgba(28, 89, 166, 0.5) -9.37%, rgba(253, 239, 38, 0.5) 110.94%);
$btn-main: #1C59A6;
$btn-hover-shadow: 4px 4px 4px 0px #00000040;
$btn-main-active-background: linear-gradient(180deg, rgba(28, 89, 166, 0.5) -9.37%, rgba(253, 239, 38, 0.5) 110.94%);
$btn-advanced-active-background: linear-gradient(180deg, #1C59A6 -9.37%, #FDEF26 110.94%);
$btn-disabled: #cccccc;


/* delete */
$btn-hover: #FFCE32;
$btn-inv-hover: #F2B800;
$btn-pressed: #E4AD00;
$btn-inv-pressed: #E4AD00;
$btn-inv-disabled: #0D0D0D40;
$icon-disabled: rgba(242, 184, 0, 0.1);
/*
$btn-disabled: #f2b80030;
*/

$animations: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$animations-long: 500ms cubic-bezier(0.4, 0, 0.2, 1);

