@import "../styles/parts-styles/one-news-in-media";
@import "../styles/parts-styles/one-news-categories";
@import "../styles/parts-styles/one-news-share";

.section__one-news {
  padding-top: 24px;
  line-height: 1.36;
}

.one-news__title {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 40px;
}

.one-news__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.one-news__img {
  padding-bottom: 24px;
}

.one-news__img img {
  width: 288px;
  margin: 0 auto;
  border-radius: 15px;
  object-fit: cover;
}

.one-news__text {
  font-size: 14px;
}

.one-news__article:not(:last-child) {
  padding-bottom: 24px;
}

.article-images {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.article-image {
  margin-bottom: 12px;
  border-radius: 15px;
}
.article-image-title {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
}
.article-text * {
  font-size: 14px;
}

@media (min-width: 768px) {
  .section__one-news {
    padding-top: 48px;
  }

  .one-news__title {
    font-size: 24px;
    padding-bottom: 64px;
  }

  .one-news__img img {
    width: 688px;
  }

  .one-news__text {
    font-size: 20px;
  }

  .one-news__article:not(:last-child) {
    padding-bottom: 48px;
  }

  .article-images {
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: center;
  }

  .article-image-item {
    width: 318px;
    display: flex;
    flex-direction: column;
  }

  .article-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin-bottom: 16px;
  }

  .article-image-wrapper img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    object-fit: contain;
  }

  .article-image-title {
    font-size: 16px;
    margin-top: auto;
    text-align: center;
  }

  .article-text * {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .section__one-news {
    padding-top: 64px;
  }

  .one-news__wrapper {
    flex-direction: row;
  }

  .one-news__in-media {
    order: 1;
  }

  .one-news__title {
    font-size: 32px;
    padding-bottom: 104px;
    max-width: 1000px;
    margin: 0 auto;
  }

  .one-news__img {
    padding-bottom: 48px;
  }

  .one-news__img img {
    width: 772px;
  }

  .one-news__text {
    font-size: 20px;
  }

  .article-images {
    margin-bottom: 32px;
    gap: 48px;
  }

  .article-image-item {
    width: 516px;
  }

  .article-image-title {
    font-size: 24px;
  }

  .article-text * {
    font-size: 20px;
  }
}

@media (min-width: 1440px) {
  .one-news__title {
    padding-bottom: 112px;
    max-width: 100%;
  }

  .one-news__wrapper {
    align-items: start;
  }

  .one-news__img {
    padding-bottom: 64px;
  }

  .one-news__img img {
    width: 942px;
  }

  .one-news__text {
    font-size: 24px;
  }

  .one-news__article:not(:last-child) {
    padding-bottom: 64px;
  }

  .article-images {
    margin-bottom: 48px;
    gap: 24px;
  }

  .article-image-item {
    width: 666px;
  }

  .article-image-wrapper {
    margin-bottom: 24px;
  }

  .article-image-title {
    font-size: 24px;
  }

  .article-text * {
    font-size: 24px;
  }
}