@import "../variables";

.actual-item-news {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 2px solid $green;
  border-radius: 15px;
}

.actual-item-news-image {
  border-radius: 10px;
  mask: linear-gradient(to bottom, #F1EBEB4C, #F1EBEB4C);
  transition: all $animations;
}

.actual-item-news:hover .actual-item-news-image {
  mask: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
}

.actual-item-news-badge {
  position: absolute;
  padding: 12px;
  border-radius: 10px;
  background-color: $green;
  color: $white;
  font-family: $font-main;
  font-weight: 700;
}

.actual-item-news-categories {
  display: flex;
  flex-wrap: wrap;
}

.actual-item-news-category::before {
  content: '#';
  color: $dark-blue;
}

.actual-item-news-category {
  font-family: $font-main;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.actual-item-news-category:not(:last-child)::after {
  content: ',';
}

.actual-item-news-card {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: hidden;
}

.actual-item-news-info {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: hidden;
}

.actual-item-news-header {
  display: flex;
  flex-direction: column;
}

.actual-item-news-title {
  font-family: $font-main;
  font-weight: 700;
}

.actual-item-news-date {
  font-family: $font-main;
  font-weight: 400;
}

.actual-item-news-excerpt {
  position: relative;
  font-family: $font-main;
  font-weight: 400;
  font-style: italic;
  overflow: hidden;
  min-height: 30px;
  flex: 1 1 auto;
}

.actual-item-news-excerpt::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  pointer-events: none;
}

.actual-item-news-link {
  font-family: $font-advanced;
  font-weight: 500;
  color: $dark-blue;
  text-decoration: underline;
  transition: all $animations;
}

@media screen and (max-width: 767.9px) {
  .actual-item-news {
    max-height: 754px;
    padding: 8px;
  }

  .actual-item-news-badge {
    top: 20px;
    left: 20px;
    font-size: 16px;
  }

  .actual-item-news-categories {
    margin-top: 12px;
    gap: 8px;
  }

  .actual-item-news-category::before {
    margin-right: 4px;
  }

  .actual-item-news-category {
    font-size: 12px;
  }

  .actual-item-news-card {
    margin-top: 16px;
    gap: 24px;
  }

  .actual-item-news-info {
    gap: 16px;
  }

  .actual-item-news-header {
    gap: 12px;
  }

  .actual-item-news-title {
    font-size: 16px;
  }

  .actual-item-news-date {
    font-size: 14px;
  }

  .actual-item-news-excerpt {
    font-size: 14px;
  }

  .actual-item-news-link {
    padding: 14px 12px 14px 0px;
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .actual-item-news {
    max-height: 938px;
    padding: 12px;
  }

  .actual-item-news-badge {
    top: 24px;
    left: 24px;
    font-size: 16px;
  }

  .actual-item-news-categories {
    margin-top: 12px;
    gap: 8px;
  }

  .actual-item-news-category::before {
    margin-right: 4px;
  }

  .actual-item-news-category {
    font-size: 12px;
  }

  .actual-item-news-card {
    margin-top: 16px;
    gap: 32px;
  }

  .actual-item-news-info {
    gap: 16px;
  }

  .actual-item-news-header {
    gap: 12px;
  }

  .actual-item-news-title {
    font-size: 22px;
  }

  .actual-item-news-date {
    font-size: 20px;
  }

  .actual-item-news-excerpt {
    font-size: 20px;
  }

  .actual-item-news-link {
    padding: 16px 16px 16px 0px;
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .actual-item-news {
    max-height: 1192px;
    padding: 16px;
  }

  .actual-item-news-badge {
    top: 32px;
    left: 32px;
    padding: 12px;
    font-size: 24px;
  }

  .actual-item-news-categories {
    margin-top: 18px;
  }

  .actual-item-news-category {
    font-size: 18px;
  }

  .actual-item-news-card {
    margin-top: 24px;
  }

  .actual-item-news-info {
    gap: 24px;
  }

  .actual-item-news-header {
    gap: 16px;
  }

  .actual-item-news-title {
    font-size: 30px;
  }

  .actual-item-news-date {
    font-size: 24px;
  }

  .actual-item-news-excerpt {
    font-size: 24px;
  }

  .actual-item-news-link {
    padding: 24px 20px 24px 0px;
    font-size: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .actual-item-news {
    max-height: 1179px;
  }

  .actual-item-news-categories {
    margin-top: 24px;
  }
}