@import '../variables';

.container__breadcrumbs {
    display: none;
    margin-top: 40px;
}

.breadcrumbs {
    font-size: 24px;
    font-family: $font-advanced;
}

@media screen and (min-width: 1200px) {
    .container__breadcrumbs {
        display: block;
    }
}

/* */
.breadcrumbs .breadcrumbs-item {
    display: inline;
    color: $blue;
}

.breadcrumbs .breadcrumbs-item.active {
    color: $dark-blue;
}

.breadcrumbs .breadcrumbs-item+.breadcrumbs-item:before {
    padding: 8px;
    color: $grey;
    content: "/";
}