@import "../components/_buttons";
@import "../variables";

.donate-things-pagination {
  display: flex;
  justify-content: center;
}

.donate-things-pagination-btn {
  font-family: $font-advanced;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  font-weight: 500;
  border: none;
}

.donate-things-pagination-btn.active {
  color: $white;
  background-color: $btn-main;
}

.donate-things-pagination-btn.inactive, .donate-things-pagination-btn.disabled {
  color: $black;
  background-color: $light-blue;
}

.donate-things-pagination-btn.active, .donate-things-pagination-btn.inactive {
  cursor: pointer;
  transition: all $animations;

  &:hover:not(:disabled),
  &:focus-visible:not(:disabled) {
    box-shadow: $btn-hover-shadow;
  }

  &:active:not(:disabled) {
    background-color: $blue;
  }
}

.donate-things-pagination-btn-with-border {
  border: 1px solid $blue;
}

.donate-things-pagination-btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.donate-things-pagination-btn-wrap-svg-disabled {
  fill: #CCCCCC;
}

.donate-things-pagination-btn-wrap-svg-enabled {
  fill: #221F25;
}

.donate-things-pagination-pages {
  display: flex;
}

@media screen and (max-width: 767.9px) {
  .donate-things-pagination {
    gap: 26px;
  }

  .donate-things-pagination-regular {
    display: none;
  }

  .donate-things-pagination-pages {
    gap: 8px;
  }

  .donate-things-pagination-btn {
    width: 44px;
    height: 44px;
    font-size: 20px;
  }

  .donate-things-pagination-btn-wrap {
    width: 22px;
    height: 22px;
  }

  .donate-things-pagination-btn-wrap-svg {
    width: 9.9px;
  }
}

@media screen and (min-width: 768px) {
  .donate-things-pagination {
    gap: 40px;
  }

  .donate-things-pagination-narrow {
    display: none;
  }

  .donate-things-pagination-pages {
    gap: 24px;
  }

  .donate-things-pagination-btn {
    width: 56px;
    height: 56px;
  }

  .donate-things-pagination-btn-wrap {
    width: 32px;
    height: 32px;
  }

  .donate-things-pagination-btn-wrap-svg {
    width: 14.5px;
  }
}

@media screen and (min-width: 1280px) {
  .donate-things-pagination-btn {
    width: 64px;
    height: 64px;
    font-size: 24px;
  }
}