@import "../components.scss";

.post-type {
  min-width: 288px;
  max-width: 528px;
  padding: 14px;
  box-shadow: 4px 4px 43px 0px rgba(0, 0, 0, 0.11);
  border-radius: 15px;
  margin: 0 auto;
  min-height: 123px;

  display: flex;
  flex-direction: column;
  gap: 24px;

  @media screen and (min-width: 768px) {
    max-width: 688px;
    padding: 24px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1168px;
    padding: 32px;

    gap: 35px;
  }

  @media screen and (min-width: 1920px) {
    padding: 24px;
    max-width: 1632px;

    flex-direction: row;
    gap: 62px;
  }

  &__wrap {
    @media screen and (min-width: 768px) {
      height: 321px;
    }

    @media screen and (min-width: 1280px) {
      height: 432px;
    }

    @media screen and (min-width: 1920px) {
      width: 742px;
      height: 492px;
    }

    & img {
      border-radius: 15px;
      object-fit: cover;

      @media screen and (min-width: 768px) {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__start {
    margin-bottom: 12px;
  }

  &__title {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  &__text {
    font-size: 14px;
    font-style: italic;

    margin-bottom: 16px;
  }

  &__value {
    margin-bottom: 8px;
  }

  &__sum {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px;
  }

  &__button {
    display: inline-block;
  }
}
