.donate3 {
  display: flex;
  flex-direction: column;
  line-height: 1.361;
}
.separator{
  width: 100%;
  height: 2px;
  background-color: $green;
}
.donate3-wrap {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 448px;
}

.donate3-wrap:first-child {
  padding-bottom: 48px;
}

.donate3-wrap:last-child {
  padding-top: 48px;
}

.donate3-title {
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 700;
}

.donate3-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 24px;
}
.donate3-wrap111 {
  display: block;
  flex-direction: column;
}

.donate3-item {
  width: 100px;
  height: 158px;
}

.donate3-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: flex-start;
}
.donate3-icon {
  width: 95px;
  height: 95px;
  margin-bottom: 24px;
}

.donate3-text {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  word-break: break-all;
}

.donate3-btn {
  @include btn-main-s;
}

@media screen and (min-width: 768px) {
  .donate3-title {
    margin-bottom: 56px;
    font-size: 32px;
  }
  .donate3-list {
    margin-bottom: 48px;
  }
  .donate3-wrap:first-child {
    padding-bottom: 56px;
  }
  .donate3-wrap:last-child {
    padding-top: 56px;
  }
  .donate3-item {
    width: 204px;
    height: 218px;
  }
  .donate3-icon {
    width: 124px;
    height: 124px;
  }
  .donate3-text {
    font-size: 24px;
  }
  .donate3-btn {
    @include btn-main-m;
  }
}

@media screen and (min-width: 1200px) {
  .separator{
    width: 2px;
    height: auto;
  }
  .donate3{
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1088px;
    margin-left: auto;
    margin-right: auto;
  }
  .donate3-title {
    font-size: 32px;
    margin-bottom: 72px;
  }
  .donate3-wrap{
    width: 50%;
    padding: 46px 0;
    margin-left: 0;
    margin-right: 0;
  }
  .donate3-wrap:first-child {
    padding-bottom: 46px;
  }
  .donate3-wrap:last-child {
    padding-top: 46px;
  }
  .donate3-item {
    height: 218px;
  }
  .donate3-icon {
    width: 124px;
    height: 124px;
  }
  .donate3-text {
    font-size: 24px;
  }
  .donate3-btn {
    @include btn-main-l;
  }
}


@media screen and (min-width: 1440px) {
  .donate3{
    max-width: 1172px;
  }
  .donate3-wrap{
    padding: 67px 0;
  }
  .donate3-wrap:first-child {
    padding-bottom: 67px;
  }
  .donate3-wrap:last-child {
    padding-top: 67px;
  }
  .donate3-item {
    height: 224px;
  }
  .donate3-icon {
    width: 130px;
    height: 130px;
  }
  .donate3-text {
  }

}

.btn-test{
  @include btn-main-l;

  /*
  background: red;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 50px;
  padding: 0.8rem 2rem;
  font: 24px "Margarine", sans-serif;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: 0.2s ease-in-out;
  letter-spacing: 2px;
  */
}





/* border: 2px solid rgb(9 182 0 / 70%); */

