@import "../components.scss";

.result__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;
  line-height: 1.36;
}

.result-title__wrap {
  max-width: 1080px;
  margin: 0 auto 32px;
  text-align: center;
  line-height: 1.36;
}
.result_title {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}
.result_text {
  text-align: center;
  font-size: 14px;
}

.result-item {
  min-width: 288px;
  padding: 16px;
  border-radius: 15px;
  background: #f0f4f7;
}

.result-card_wrap {
  height: 100%;
}

.result-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    height: calc(97% - 426px);
  }

  @media screen and (min-width: 1200px) {
    height: calc(97% - 320px);
  }
}

.result-card_img {
  margin-bottom: 24px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.result-card_img img {
  object-fit: cover;
  min-width: 272px;
  min-height: 181px;
  border-radius: 15px;

  @media screen and (min-width: 768px) {
    min-width: 640px;
    height: 426px;
  }

  @media screen and (min-width: 1200px) {
    width: 480px;
    height: 320px;
  }
}

.result-card_title {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.result-card_text {
  margin-bottom: 12px;
  font-size: 14px;
  font-style: italic;
}

.result-card_sum-title {
  margin-bottom: 8px;
  font-size: 16px;
}

.result-card_sum-value {
  font-size: 20px;
  font-weight: 600;
}

.btn-load-more {
  @include btn-main-s;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .result_title {
    font-size: 24px;
    margin-bottom: 56px;
  }

  .result_text {
    font-size: 20px;
  }
  .result__container {
    margin-bottom: 56px;
  }
  .result-card_title {
    font-size: 24px;
  }
  .result-card_text {
    margin-bottom: 24px;
    font-size: 16px;
  }

  .result-card_sum-title {
    font-size: 18px;
  }
  .result-card_sum-value {
    font-size: 24px;
  }
  .btn-load-more {
    @include btn-main-m;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .result_title {
    font-size: 32px;
    margin-bottom: 40px;
  }

  .result_text {
    font-size: 24px;
  }

  .result__container {
    flex-direction: row;
    gap: 48px;
    margin-bottom: 48px;
  }

  .result-item {
    width: 528px;
    padding: 24px;
  }
  .result-card_title {
    font-size: 24px;
    margin-bottom: 16px;
  }
  .result-card_text {
    margin-bottom: 16px;
    font-size: 24px;
  }
  .btn-load-more {
    @include btn-main-l;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1440px) {
}
