@import "../variables";

.lang-list {
  display: flex;
  text-transform: uppercase;
}

.lang-list .lang-item:first-child::after {
  content: '/';
  color: $black;
}

.lang-item a {
  text-decoration: none;
  transition: color $animations;
}

.lang-item.active a {
  color: $dark-blue;
}

.lang-item.current-lang a {
  color: $dark-blue;
}

.lang-item a:hover {
  color: $blue;
  text-decoration: none;
}

// Styles for the switcher in the menu modal

.menu__modal .lang-list .lang-item {
  padding: 13px 0px 13px 11px;
}

.menu__modal .lang-list .lang-item:first-child::after {
  padding-left: 11px;
}