.one-news__categories {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding-bottom: 16px;
}

.one-news__category {
  display: flex;
  gap: 4px;
}

.one-news__heshteg {
  font-size: 14px;
  font-weight: 600;
  color: #1C59A6;
}

.category-item {
  font-size: 14px;
  font-weight: 600;
}

@media (min-width: 768px) {
  .one-news__categories {
    gap: 17px;
    padding-bottom: 32px;
  }

  .category-item, .one-news__heshteg {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .category-item, .one-news__heshteg {
    font-size: 24px;
  }
}

@media (min-width: 1440px) {
  .one-news__categories {
    padding-bottom: 40px;
  }
}
  