@import "../variables";

.one-news__share {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.one-news-share__title {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 56px;
}

.one-news-share__group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.one-news-share__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border-radius: 15px;
  background-color: #F0F4F7;
}

.one-news-share__icon:hover {
  box-shadow: (4px 4px 12px rgba(0, 0, 0, 0.11));
}

.one-news-share__icon:active {
  background-color: $dark-blue;
}

.one-news-share__svg {
  width: 38px;
  height: 38px;
}

.one-news-share__icon:active .one-news-share__svg {
  fill: $white;
}

@media (min-width: 768px) {
  .one-news-share__title {
    font-size: 24px;
  }

  .one-news-share__group {
    flex-direction: row;
    gap: 96px;
  }
}

@media (min-width: 1200px) {
  .one-news-share__title {
    font-size: 32px;
    padding-bottom: 64px;
  }

  .one-news-share__group {
    gap: 118px;
  }
}

