@import "../variables";

.our-team-members-items-item,
.our-team-members-items-item-info,
.our-team-members-items-item-info-wrap,
.our-team-members-items-item-info-instagram {
  display: flex;
  flex-direction: column;
}

.our-team-members-items-item {
  position: relative;
}

.our-team-members-items-item-image,
.our-team-members-items-item-wrap {
  border-radius: 15px;
}

.our-team-members-items-item-image {
  box-shadow: 4px 4px 44px 0px #0000001C;
  object-fit: cover;
}

.our-team-members-items-item-wrap {
  position: absolute;
  top: 0px;
  left: 0px;
  max-width: 100%;
  background-color: rgba(34, 31, 37, 0.65);
  display: none;
}

.our-team-members-items-item-image:hover + .our-team-members-items-item-wrap,
.our-team-members-items-item-wrap:hover {
  display: block;
}

.our-team-members-items-item-info {
  position: absolute;
  color: $white;
  overflow: hidden;
}

.our-team-members-items-item-info-name {
  font-family: $font-main;
  font-weight: 600;
}

.our-team-members-items-item-info-short-info,
.our-team-members-items-item-info-instagram {
  font-weight: 400;
  overflow: hidden;
}

.our-team-members-items-item-info-short-info {
  font-family: $font-main;
  font-style: italic;
}

.our-team-members-items-item-info-instagram {
  font-family: $font-advanced;
  font-weight: 400;
  justify-content: center;
}

@media screen and (max-width: 767.9px) {
  .our-team-members-items-item-wrap,
  .our-team-members-items-item-image {
    width: 288px;
    height: 318px;
  }

  .our-team-members-items-item-info {
    width: 258px;
    top: 92px;
    left: 12px;
    gap: 24px;
  }

  .our-team-members-items-item-info-name {
    font-size: 20px;
  }

  .our-team-members-items-item-info-wrap {
    gap: 8px;
  }

  .our-team-members-items-item-info-short-info,
  .our-team-members-items-item-info-instagram {
    font-size: 16px;
  }

  .our-team-members-items-item-info-short-info {
    height: 110px;
  }

  .our-team-members-items-item-info-instagram {
    height: 45px;
  }
}
  
@media screen and (min-width: 768px) {
  .our-team-members-items-item-wrap,
  .our-team-members-items-item-image {
    width: 334px;
    height: 345px;
  }

  .our-team-members-items-item:nth-child(odd) .our-team-members-items-item-wrap {
    right: 0px;
  }

  .our-team-members-items-item-info {
    width: 258px;
    top: 104px;
    left: 16px;
    gap: 24px;
  }

  .our-team-members-items-item-info-name {
    font-size: 24px;
  }

  .our-team-members-items-item-info-wrap {
    gap: 8px;
  }

  .our-team-members-items-item-info-short-info {
    font-size: 16px;
    height: 110px;
  }

  .our-team-members-items-item-info-instagram {
    font-size: 24px;
    height: 50px;
  }
}
  
@media screen and (min-width: 990px) {
}
  
@media screen and (min-width: 1200px) {
  .our-team-members-items-item-wrap,
  .our-team-members-items-item-image {
    width: 574px;
    height: 595px;
  }

  .our-team-members-items-item-info {
    width: 390px;
    top: 269px;
    left: 24px;
    gap: 32px;
  }

  .our-team-members-items-item-info-name {
    font-size: 32px;
    line-height: 43px;
  }

  .our-team-members-items-item-info-wrap {
    gap: 24px;
  }

  .our-team-members-items-item-info-short-info {
    font-size: 24px;
    height: 165px;
    line-height: 32px;
  }

  .our-team-members-items-item-info-instagram {
    font-size: 24px;
    height: 29px;
  }
}
  
@media screen and (min-width: 1440px) {
  .our-team-members-items-item-wrap,
  .our-team-members-items-item-image {
    width: 528px;
    height: 547px;
  }

  .our-team-members-items-item-info {
    top: 221px;
    gap: 24px;
  }
}