.instagram-title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 22px;
}

@media screen and (min-width: 768px) {
  .instagram-title{
    font-size: 32px;
    padding-bottom: 46px;
  }
}

@media screen and (min-width: 1200px) {
  .instagram-title{
    padding-bottom: 22px;
  }
}

@media screen and (min-width: 1440px) {
  .instagram-title{
    padding-bottom: 54px;
  }
}
