@import "../components/_buttons";
@import "../variables";

.projects-items-and-pagination,
.projects-items,
.projects-item,
.projects-item-info {
  display: flex;
  flex-direction: column;
}

.projects-item-info-is-active-badge {
  font-family: $font-main;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  font-weight: 400;
  border: none;
}

.projects-item-info-is-active-badge.active {
  background-color: $green;
  color: $white;
}

.projects-item-info-is-active-badge.inactive {
  background-color: $grey;
  color: $black;
}

.projects-item-info-header {
  font-family: $font-main;
  font-weight: 700;
}

.projects-item-info-excerpt {
  font-family: $font-main;
  font-weight: 400;
  font-style: italic;
}

.projects-item-detailed-btn {
  @include btn-main;
}

.projects-items-hr {
  border: 2px solid $green;
  width: 100%;
}

@media screen and (max-width: 767.9px) {
  .projects-items-and-pagination,
  .projects-items {
    gap: 56px;
  }

  .projects-item {
    gap: 24px;
  }

  .projects-item-info {
    gap: 16px;
  }

  .projects-item-info-is-active-badge {
    font-size: 14px;
  }

  .projects-item-info-header {
    font-size: 18px;
  }

  .projects-item-info-excerpt {
    font-size: 16px;
  }

  .projects-item-detailed.projects-item-detailed-wide {
    display: none;
  }

  .projects-item-detailed-btn {
    height: 45px;
    font-weight: 400;
  }
}

@media screen and (min-width: 768px) {
  .projects-items-and-pagination {
    gap: 104px;
  }

  .projects-items {
    gap: 56px;
  }

  .projects-item {
    gap: 32px;
  }

  .projects-item-info {
    gap: 24px;
  }

  .projects-item-info-is-active-badge {
    font-size: 16px;
  }

  .projects-item-info-header {
    font-size: 24px;
  }

  .projects-item-info-excerpt {
    font-size: 20px;
  }

  .projects-item-detailed.projects-item-detailed-wide {
    display: none;
  }

  .projects-item-detailed-btn {
    height: 56px;
    font-size: 20px;
    font-weight: 500;
    padding: 24px 20px;
  }
}

@media screen and (min-width: 1280px) {
  .projects-item {
    flex-direction: row;
    gap: 20px;
  }

  .projects-item-info-excerpt {
    font-size: 20px;
  }

  .projects-item-detailed.projects-item-detailed-wide {
    display: block;
  }

  .projects-item-detailed.projects-item-detailed-narrow {
    display: none;
  }

  .projects-item-detailed-btn {
    height: 77px;
    font-size: 24px;
  }
}

@media screen and (min-width: 1920px) {
  .projects-items {
    gap: 64px;
  }

  .projects-item {
    gap: 40px;
  }

  .projects-item-info-is-active-badge {
    font-size: 18px;
  }

  .projects-item-info-header {
    font-size: 32px;
  }

  .projects-item-info-excerpt {
    font-size: 32px;
  }
}