@import "../variables";

.socseti-title {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 56px;
}

.socseti-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.socseti-item {
  width: 56px;
  height: 56px;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $light-blue;
  overflow: hidden;
  transition: $animations;
}

.socseti__icon {
  width: 100%;
  transition: $animations;
}

.socseti-item:hover {
  box-shadow: (4px 4px 12px rgba(0, 0, 0, 0.11));
}
.socseti-item:active {
  background-color: $dark-blue;
}

.socseti-item:active .socseti-icon {
  fill: $white;
}

@media screen and (min-width: 768px) {
  .section__socseti {
  }

  .socseti-title {
    font-size: 24px;
    margin-bottom: 64px;
  }

  .socseti-list {
    width: 458px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    justify-content: space-between;
  }

  .socseti-item {
    width: 74px;
    height: 74px;
  }
}

@media screen and (min-width: 1200px) {
  .section__socseti {
  }

  .socseti-title {
    font-size: 32px;
  }

  .socseti-list {
    width: 458px;
  }

  .socseti-item {
  }
}

@media screen and (min-width: 1440px) {
  .section__socseti {
  }

  .socseti-title {
    font-size: 32px;
  }

  .socseti-list {
    width: 458px;
  }

  .socseti-item {
  }
}
