@import "../variables";
@import "../components/buttons";

// block scroll
.modal-open {
  /* overflow: hidden;
  padding-right: 17px;
   */
  overflow-y: hidden;
  position: fixed;
  width: 100%;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(20, 20, 20, 0.7);
  opacity: 0;
  z-index: 9999;
  pointer-events: none;
  font-family: $font-main;
  transition: all $animations-long;
  color: $black;
}

.modal.is-open {
  opacity: 1;
  pointer-events: all;
}
// Inner__wrap
.modal-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 284px;
  border: 2px solid $green;
  transform: translate(-50%, -50%) scale(0.3);
  transition: all $animations-long;
}

.donate-money {
  padding: 60px 24px 43px;
  border-radius: 15px;
  background-color: $background;
  display: flex;
  flex-direction: column;
}
.modal-wrap.is-open {
  transform: translate(-50%, -50%) scale(1);
}

// Modal__btn-close & icon
.modal_btn-close {
  @extend .btn-icon-main;

  width: 44px;
  height: 44px;
  position: absolute;
  right: 0;
  top: 0;

  & .icon {
    width: 16px;
    height: 16px;
  }
}

.donate-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.362;
  margin-bottom: 32px;
  text-align: center;
}

.donate_item:not(:last-child) {
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid $green;
}

.donate_item-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3616;
  margin-bottom: 8px;
}

.donate_block-text {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-right: 44px;
  height: 44px;
  font-size: 14px;
  line-height: 1.362;

  &:hover {
    color: $dark-blue;
    & svg {
      fill: $dark-blue;
    }
  }
}

.donate_block-text svg {
  transition: all $animations;
}

.donate_block-text[success] svg.donate_icon-copy {
  opacity: 0;
}
.donate_block-text[success] svg.donate_icon-success {
  opacity: 1;
}

.donate_block-text:not([success]) svg.donate_icon-copy {
  opacity: 1;
}
.donate_block-text:not([success]) svg.donate_icon-success {
  opacity: 0;
}

.donate_item-text {
}

.donate_text-icon {
  position: relative;
  width: 44px;
  height: 44px;
  padding: 10px;
}

.donate_icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 10px;
  cursor: pointer;
  transform: translateY(-50%);
  transition: all $animations;
}

@media screen and (min-width: 768px) {
  .modal-wrap {
    width: 571px;
  }
  .donate-money {
    padding: 76px 40px 40px;
  }

  .modal_btn-close {
    right: 24px;
    top: 24px;

    & .icon {
      width: 24px;
      height: 24px;
    }
  }

  .donate-title {
    font-size: 24px;
    margin-bottom: 48px;
  }

  .donate_item:not(:last-child) {
    padding-bottom: 24px;
    margin-bottom: 24px;
  }

  .donate_item-title {
    font-size: 20px;
    margin-bottom: 12px;
  }

  .donate_block-text {
    font-size: 18px;
  }
}

@media screen and (min-width: 1200px) {
  .donate-money {
    padding: 80px 48px 48px;
    width: 629px;
  }

  .modal_btn-close {
    width: 24px;
    height: 24px;
    right: 24px;
    top: 24px;
  }

  .donate-title {
    font-size: 32px;
    margin-bottom: 72px;
  }

  .donate_item-title {
    font-size: 24px;
  }

  .donate_block-text {
    height: 32px;
    font-size: 20px;
  }
}

@media screen and (min-width: 1440px) {
  /*
  .modal-wrap {
    padding: 80px 48px 48px;
    width: 629px;
  }
  
  .modal_btn-close {
    width: 32px;
    height: 32px;
    right: 24px;
    top: 24px;
  }

  .donate-title {
    font-size: 32px;
    margin-bottom: 72px;
  }

  .donate_item-title{
    font-size: 24px;
  }

  .donate_block-text{
    font-size: 20px;
  }
*/
}
