@import "../components.scss" ;



.event{
    max-width: 1080px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.event-title{
    font-family: lato;
    font-size: 18px;
    font-weight: 900;
}

/*
.event-title-inter{
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 900;
}*/

.event-btn{
    @include btn-advanced-s;
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
    
    @media screen and (min-width: 768px ){
        @include btn-advanced-m;
    }
    @media screen and (min-width: 992px ){
        @include btn-advanced-l;
    }
}

@media screen and (min-width: 768px ){
    .event-title{
        font-size: 24px;
    }
}

@media screen and (min-width: 992px) {
    .event-title{
        font-size: 32px;
    }

}
/*
@media screen and (min-width: 768px){
    .event-btn{
        @extend .btn-advanced-l;
        margin-top: 32px;
    }
        
}
*/

