@import '../components/buttons';

.slider {

  margin-left: auto;
  margin-right: auto;
  
  @media (min-width:768px) {
    width: 688px;

  }

  @media (min-width:1200px) {
    width: 1000px;

  }

  @media (min-width:1440px) {
    width: 1192px;

  }


  &__nav {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 16px auto 0;

    @media (min-width:1200px) {
      margin: 64px 0 0px;
    }

    &-dot {
   
      width: 8px;
      height: 8px;
      flex-shrink: 0;
      background: #D9D9D9;
      border-radius: 50%;

      @media (min-width:1200px) {
        width: 16px;
        height: 16px;
      }

      &.active {
        background: #85BBE4;
      }

    }
  }
  
  
  &__container {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    

    @media screen and (min-width: 1200px){
      padding-left: 40px;
      padding-right: 40px;
    }
    
    @media screen and (min-width: 1440px){
      padding-left: 56px;
      padding-right: 56px;
    }
    
  }
  /*

  &__container {
    display: grid;
    justify-content: center;
    grid-template-columns: 100%;
    grid-template-rows: max-content;
    padding: 0;
    gap: 16px;
    overflow: hidden;
 

    @media (min-width:768px) {

      gap: 20px;
    }
    @media (min-width:1000px) {
      grid-template-columns:min-content;
    }
    @media (min-width:1200px) {
   
      margin-bottom: 24px;
    }
  }

  &__wrap {

    margin: 0 auto;
    position: relative;

  }
  */

  
  &__track {

    width: 100%;

    /*
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
     gap: 8px;

    @media (min-width:768px) {
      gap: 24px;
    }*/
  }
  


  &__item {
    /*
    flex-shrink: 0;
    display: grid;

    border-radius: 15px;
    overflow: hidden;
*/

  

    &--big {
      width: 100%;
      height: 100%;
      /* max-height: 330px; */
      max-height: 257px;
      
      @media (min-width:768px) {
        max-height: unset;
        height: 330px;
      }
      @media (min-width:1200px) {
        height: 421px;
      }
      @media (min-width:1440px) {
        height: 493px;
      }
    }


    &:not(.slider__item--big) {
      width: 132px;
      height: 100px;
      @media (min-width:768px) {
        max-width: 240px;
        height: 176px;
      }
      @media (min-width:1200px) {
       max-width: 293px;
        height: 211px;
      }
      @media (min-width:1440px) {
        max-width: 344px;
        height: 252px;
      }
    }


    &-fon {
      grid-area: 1/1/2/2;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 15px;

    }

    /*&--big {
      & .slider__item-fon {
        max-height: 493px;
      }

    }*/

    &-text {
      grid-area: 1/1/2/2;
      display: none;
    }

    &-text-inner {
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 12px;
      color: #fff;

      @media (min-width:768px) {
        padding: 32px;
      }


      & p {
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        margin-bottom: 8px;

        @media (min-width:768px) {
          font-size: 1.5rem;
        }
      }

    }

    &-title {
      margin-bottom: 8px;
      font-size: 1rem;
      line-height: 118.75%;
      font-weight: 900;

      @media (min-width:768px) {
        margin-bottom: 24px;
        font-size: 2rem;
      }
    }

    &-btn {

      @include btn-main;
      margin-top: auto;
      padding: 14px 8px;
      height: unset;
      min-height: unset;
      width: fit-content;
      font-size: 14px;

      @media (min-width:1200px) {
        padding: 16px;
        font-size: 24px;
      }
    }



    &--big {
      & .slider__item-text {
        display: block;
        background: rgba(0, 0, 0, 0.5)
      }
    }

  }

  &__btn-left,
  &__btn-right {
    display: none;    

    @media (min-width:1200px) {
      display: block;
      position: absolute;
      top: 50%;
      background: transparent;
      border: none;
      transform: translate(-50%, 0);
    }

    &:hover {
      & svg path {
        fill: #CCCCCC;
      }
    }
  }

  &__btn-left {
    left: -34px;
  }

  &__btn-right {
    right: -64px;

  }

}

.swiper-main{
  margin-bottom: 16px;

  @media (min-width:1200px) {
    margin-bottom: 20px;
  }

  @media (min-width:1440px) {
  margin-bottom: 24px;
  }
}

.swiper-thumbs-container{
  position: relative;
}

.main-pagination{
  margin-top: 16px;

  @media screen and (min-width: 768px){
    margin-top: 24px;  
  }
  @media screen and (min-width: 1200px){
    margin-top: 32px;  
  }
  @media screen and (min-width: 1440px){
    margin-top: 40px;  
  }
}

.swiper-pagination-bullet-active{
  background-color:  $swiper-pagination-active;

}
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{
  transform: translateX(0);
  margin-left: auto;
  margin-right: auto;

}


.swiper-slide-thumb-active .slider__item-fon{
  border: 3px solid $green;

}